.mark_show
{
	width: 8%;
}
.mark_show img
{
	width: 60px;
	height: 60px;
}

.rssimg
{
    z-index: 10;
    height: 15px;
    background: transparent url('../images/gvl3-icons-0-2.png') no-repeat;
    display: block;
    margin: 0 8px 5px 0;
    font-size: 1px;
    line-height: 1px;
    text-indent: -5000px;
    overflow: hidden;
    cursor: pointer;
    opacity: .85;
    -webkit-user-select: none;
    background-position: -797px 0;
    width: 13px;
    position: absolute;
    top: 3px;
    right: 0;
    margin-right: -17px;
}

/************************/
/*For hide/show Control*/
/************************/

.view
{
	border:0px; 
	padding:0px; 
	margin: 0px; 
}
.view_none
{
	display: none;
}
.view_ok
{
	display: inline;
}

/************************/
/*Navigation Panel*/
/************************/

/*.breadcrumbs ol li a {
    color: #E6DD00;
}*/
.breadcrumbs span{
    cursor: pointer;
}
.breadcrumbs .down {
    color: #E69000;
}
.breadcrumbs .cur {
    color: rgba(0, 255, 61, 0.84);
    cursor: default;
}
/*.breadcrumbs ol li {
    color: #f8f6e9;
}*/

/************************/
/*Navigation Iframe Fix*/
/************************/

/*div {height:100%;width:100%;overflow:hidden}
  iframe {height:100%;width:100%;overflow:hidden}
  /*html {
    overflow-x: hidden;
    overflow-y: hidden;
}*/

/*body {overflow:hidden;}*/
.navarray {
    display: block;
}
.navarray iframe{
    width: 100%;
    height: 100%;
}

/************************/
/*Div-Table basic*/
/************************/

.table 
{
    display:block;
    font-weight:bold;
    float:left;
}
.left 
{
    width:45%;
    font-size:1.2em;
}
.middle
{
    width: 23%;
}
.right 
{
    width: 50%;
}
.newrow 
{
    clear:both;
}

/************************/
/*More Info Page*/
/************************/

/*.imgtable  {
    display: block; 
    float: left; 
    width: 31%;
    margin: 3px;
}*/
.imgtable image {
    width: 100px;
    height: 75px;
}
.complect {
     width: 46%;
     padding: 0;
     margin: 0;
     border: 0;
     background: url("mod_icemegamenu/images/point.png") no-repeat scroll 0 20% transparent;
}
.complect div{
     font-size: 1.2em;
     border :0;
     padding-left :15px;
     margin-bottom: 10px;
     word-wrap:break-word;
     line-height: 17px;
}
.complect_middle {
     width: 2%;
     visibility: hidden;
     content: "."
}
.complect p{
     border :0;
     padding :0;
     margin :0;
}
div.complect:hover
{
    background-color:#303030;
    /*color:#dbd9d9;*/
    cursor:text;
}
.moduletable_menu p {
    margin: 1px 0 2px;
    padding: 0 0 0 15px;
    font-size: 1.2em;
}
.moduletable_menu p span {
    font-weight: bold;
    font-size: 1.2em;
    /*color: #C0C6D1;*/
}

#left-col-init {
    display: block;
    float: left;
    width: 220px;
    margin-left: -290px;
    margin-top: 500px;
}
/************************/
/*List*/
/************************/
.explistrow0 h6
{
    color: #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.8em;
    font-weight: bold;
}

.h2list 
{
    font-size:2.5em;
    margin-bottom:10px;
    padding-top:20px;
    text-align:right;
    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 1px
}
tr:hover 
{
    background-color:#171917;
}
.link, a.link
{
    position: absolute;
    top: 2.5em;
    color:#fff;
    cursor: pointer;
    font-style:italic;
    border-radius: 10px;
    border: solid 2px rgb(218, 224, 247);
    padding: 0 5px;
}
.link:hover
{
    color: rgb(143, 183, 235);
    text-decoration: underline;
}

.compare_lc:hover:after
{
    content: " выбранные автомобили";
}
.compare_clean:hover:after
{
    content: " список выбранных авто";
}
.compare_add:hover:after
{
    content: " в список для сравнения";
}
.compare_del:hover:after
{
    content: " из списка";
}
.compare_lc:hover
{
    z-index: 1;
    background-color: #303438;
}
.compare_clean:hover
{
    z-index: 1;
    background-color: #303438;
}
.compare_hlout
{
    padding: 0.5%;
    background: #353535;
    margin-right: 1%;
    position:relative;
    top: 13em;
}
.compare_hlin
{
    background-color: #191919;
    padding: 5px;
    border: 1px solid #3D3D3D;
    border-top-color: #444;
}
.compare_hlin .compare_lc_head
{
    border-bottom: 1px dashed #555;
    margin-bottom: 5px;
}
.compare_hlin .compare_lc_content
{
    text-align: left;
    font-weight: normal;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #353535;
    padding: 2px;
}

/************************/
/*Compare Page*/
/************************/

.cmp_head
{
    display: block; 
    float: left; 
    width: 12em;
    position: relative;
}
.cmp_maintb
{
    display: block; 
    float: left; 
    width: 29em;
    margin-left: 20px;
}
.cmp_mainimg
{
    height: auto;
    width: 100%;
    max-width: 180px;
    margin-top: 20px;
}

/************************/
/*Find Page*/
/************************/

.numberhead
{
    position: relative;
    clear: both;
}
    .numberhead .numberinput
    {
        float: left;
        display: block;
        width: 45px;
        padding: 2px 25px 2px 5px;
        margin: 0;
    }
    .numberhead .label
    {
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }
    .numberhead .numbtnbase
    {
        position: relative;
        display: block;
        float: left;
        height: 20px;
        right: 20px;
        margin-right: -30px;
    }
        .numberhead .numbtnbase .numberbtn
        {
            position: relative;
            width: 20px;
            height: 40%;
            padding: 0;
            margin: 0;
            font-size: 8px;
        }
        .numberhead .numbtnbase .btnup
        {
            right: 2px;
            top: 2px;
        }
        .numberhead .numbtnbase .btndown
        {
            right: 22px;
            top: 12px;
        }
.h5note
{
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

/*tbody tr {
    cursor: pointer;
}
thead {
    cursor:default;
}*/

/*
.add {
    padding-top: 10px;
    float: left;
    display: block;
}
input[type="text"] {
    width: 120px;
}
button, input.button, a.button, input[type="submit"] {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.expautos_list_markmod {
    text-align: left;
    margin: 0 10px;
}
    #expautospro table.explist {
    clear: both;
    width: 100%;
    margin: 14px auto;
        border-collapse: separate;
        border-spacing: 0;
        text-shadow: 0 1px 0 black;
        background: #222;
        border: 1px solid #555;
        border-left-color: #333;    
        border-right-color: #333;
        border-bottom-color: #333;
    }
    #expautospro table.explist {
        border-collapse: separate;
        border-spacing: 0;
        text-shadow: 0 1px 0 black;
    }
    #expautospro table.explist th {
        font-size: 1em;
        text-align: left;
        padding: 7px 10px;
        font-weight: normal;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        background: #444;
    }
    
*/