body {    
    margin: 0;
}
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

html { font-size:100.01%; width:100%; margin:0 auto; }

body {
	color: #555;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:85%;
	line-height:1.85em;}

h1,h2,h3,h4,h5,h6 {
	font-family:"Open Sans", Verdana, Geneva, sans-serif;
	font-weight: normal;	
	line-height: 1.4em;
	margin-bottom:0;
	color: #666; }



#wrapper {
    float: left;
    width: 1300px;
    margin: 0 auto;
    vertical-align: top;  
    overflow: hidden;
}
#main_content, #frame {
    width: 100%;
    float: left;
}

#frame {
    height: 50px;
    background: url('../images/it_header.png') repeat-x top left;
    position: relative;
    z-index: 8;}
	
	#frame_inside {
		margin:0 auto;
		position:relative;
		width:963px}
		
	#frame_inside a#logo {
		display:block;
		float:left;
		margin-left:-60px;}	
		
		#frame_inside a#logo img {
			outline:none;
			border:none;}
	
	
#main_content {
    position: relative;
	background:#fff;
    height: 500px;
    z-index: 1;
}

#select_theme > div {
    height: 100%;
    float: left;
}

#select_theme {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 90px;
    margin-top: 10px;  
    cursor: pointer;}
	
	#select_theme:hover {}


#selectbox_left {
    width: 5px;
    background: url('../images/it_selectbox_left.png') no-repeat center left;
}
#selectbox_label {
    background: url("../images/it_selectbox_bg.png") repeat-x scroll right center transparent;
    color: #FFFFFF;
    padding: 0 10px;    
}
#selectbox_sepe {
    width: 8px;
    background: url('../images/it_selectbox_right.png') no-repeat center left;
}
#selectbox_theme {
    background-color: #fff;
	min-width:171px;
    padding: 0 8px;
}
#selectbox_right {
    width: 24px;
    background: url('../images/it_select_right.png') no-repeat center top;}
	
	#select_theme:hover #selectbox_right {
		background-position:center bottom}
	
	
#ice_join {
    background:#51A02C;
	background: -moz-linear-gradient(top, #76B850, #51A02C);
	background: -webkit-linear-gradient(top, #76B850, #51A02C);
	background: -ms-linear-gradient(top, #76B850, #51A02C);
	background: linear-gradient(top, #76B850, #51A02C);
	border-radius:5px;
    color: #fff;
	padding:0 14px;
	font-size:1.15em;
	text-shadow:1px 1px 1px rgba(0,0,0,.6);
    float: right;
	border:1px solid #80C467;
    height: 30px;
    line-height: 29px;
    margin: 9px 9px 0 0;
    text-align: center;
	position:relative;
    text-decoration: none;
}
.lof_blocks {
    width: 98%;
}


#show_demo_page {
    width: 100%;
    border: none !important;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    z-index: 2;
}
#main_view_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,62,109,.5);
}
#show_hide_panel {
    width: 100%;
    position: relative;
    float: left;
    z-index: 10000;
}
#btn_panel {
    background: url("../images/it_panel_button.png") no-repeat scroll left center transparent;
    bottom: -20px;
    color: #9ACDFC;
    font-family: arial;
    font-size: 13px;
    height: 21px;
    line-height: 18px;
    position: absolute;
    right: 25px;
    text-align: center;
    text-decoration: none;
    width: 58px;
    z-index:9;  
}
/* ----------- POPUP STYLE ------------------ */
#popup {
    position: absolute;
    z-index: 1000;
    top: 48px;
    left: 307px;
}
#popup > div {
    float: left;
}
#popup #lof_blocks_info {
    width: 340px;
    height: 630px;
    background: url("../images/it_popup_themeinfo.png") no-repeat scroll left center transparent;
    z-index: 10;

}
#popup #theme_details {
    width: 316px;
    height: 620px;
    background: url("../images/it_popup_themedetails.png") no-repeat scroll left center transparent;
    margin-top: 10px;
    display: none;
}
#lof_blocks_info_inner , #theme_details_inner {
    float: left;
}
#lof_blocks_info_inner {
    height: 580px;
    margin-left: 20px;
    margin-top: 30px;
    overflow: auto;
    width: 310px;
}
#theme_details_inner {
    height: 600px;
    margin-left: 32px;
    margin-top: 19px;
    overflow: hidden;
    width: 264px;
}

	#lof_blocks_info_inner h3.lof_blocks_title {
		border-top: 1px solid #C7EBF2;
		background-color: #E6F7FA;
		color: #777;
		font-weight: normal;
		height: 30px;
		line-height: 30px;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;}
		
	
#lof_blocks_info_inner .list_themes {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;    
}
#lof_blocks_info_inner .list_themes li {
    border-bottom: 1px solid #dcf1f5;
	color:#666;
    height: 30px;
	padding-left:3px;
    line-height: 30px;
    cursor: pointer;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out; }

#lof_blocks_info_inner .list_themes li:hover {
	color:#222
}
.hiden_data {
    display: none!important;
}


	#detail_title {
		text-align: center;
		font-size: 1.75em;
		margin: 0;}
	
	#detail_date {
		font-size:.9em;
		margin: -2px 0 6px;
		text-align: center;
		color: #999;}
		
		
#img_crop {
    width: 100%;
    max-height: 414px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
}
#lof_image_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;    
    display: none;
}
#loading_icon {
    left: 118px;
    position: absolute;
    top: 49%;
    display: none;
}

/* loading demo */
#mainview_loading_icon {
    background-color: #64C3DE;
	box-shadow:0 0 15px #64C3DE;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-style: italic;
    left: 50%;
	margin-left:-150px;
	padding-bottom:20px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 300px;
    z-index: 4;}
	
	
	
#img_crop img#detail_image {
    width: 100%;
	margin-bottom:4px;
}

.free-theme {
    background: url("../images/it_free_icon.png") no-repeat scroll right center transparent; 
}
.feature-theme {
    background: url("../images/it_hot_icon.png") no-repeat scroll right center transparent; 
}
#detail_desc {
    color: #666;
	line-height:1.9em;
	font-size:.95em;
	margin-top:0;
}

@media only screen and (device-width: 768px) {
 /* only for ipad */
#main_content {
	height:auto!important;}
  
}