
.ams-container {
    margin:auto;
    max-width:1280px;
}
/*.ams-container * {
    background-color: transparent !important;
}*/
#amazingslider-1 {
    display:block;
    position:relative;
    /*margin:16px auto 32px;*/
}
.ams-container [class|='amazingslider-title'] {
    text-transform: uppercase;
    text-shadow: 0 0 10px #565498, 0 0 10px #565498, 0 0 10px #565498;
    color: #EAECF6;
}
 .ams-container [class|='amazingslider-description'] {
     font-weight: 500;
 }

/*.ams-container .amazingslider-nav-0 {
    margin-top: 40px !important;
}*/
/*.ams-container [class|='amazingslider-arrow-right'], .ams-container [class|='amazingslider-arrow-left'] {
    margin: 50px 0;
}*/
