/*****************************/
/****** Property of WDB ******/
/*****************************/
#wdb_toolbar .menu a:link,
#wdb_toolbar .menu a:visited {
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
#wdb_toolbar .menu li {
	line-height: 3.1;
	float: left;
	position:relative;
}
#wdb_toolbar .menu li.active a,
#wdb_toolbar .menu li.active a:hover,
#wdb_toolbar .menu li.active a:active,
#wdb_toolbar .menu li.active a:focus {
	background-image: url(../images/dark/toolbar_current.jpg);
	color: #FFFFFF;
}
#wdb_toolbar ul.menu li:hover {
	background-image: url(../images/dark/toolbar_hover.jpg);
}
/********* Sub Level *********/
#wdb_toolbar .menu li li a:link,
#wdb_toolbar .menu li li a:visited {
	font-weight: normal;
	line-height: 1.8;
	color: #FFFFFF;
	font-size: 12px;
}
#wdb_toolbar .menu ul {
	float:none;
	left:-999em;
	position:absolute;
	z-index: 99;
}
#wdb_toolbar .menu ul {
	width: 250px;
	padding-bottom: 3px;
	background-color: #1D1D1D;
}
#wdb_toolbar .menu ul li {
	width: 250px;
	padding: 3px 0px 3px 0px;
	background-color: none;
	position:relative;
}
#wdb_toolbar .menu li li,
#wdb_toolbar li:hover ul,
#wdb_toolbar li.sfhover ul {
	left: auto;
}
#wdb_toolbar ul.menu li li:hover {
	background-color: #8ed547;
}
#wdb_toolbar ul.menu li.active li a,
#wdb_toolbar ul.menu li.active li a:hover,
#wdb_toolbar ul.menu li.active li a:active,
#wdb_toolbar ul.menu li.active li a:focus {
	background: none !important;
}
#wdb_toolbar ul.menu ul li.active a,
#wdb_toolbar ul.menu ul li.active a:hover,
#wdb_toolbar ul.menu ul li.active a:active,
#wdb_toolbar ul.menu ul li.active a:focus {
	background: none !important;
}
#wdb_toolbar ul.menu li.active li a,
#wdb_toolbar ul.menu li.active li a:hover,
#wdb_toolbar ul.menu li.active li a:active,
#wdb_toolbar ul.menu li.active li a:focus {
	background: none !important;
}
#wdb_toolbar ul.menu li.active li a,
#wdb_toolbar ul.menu li.active li a:hover,
#wdb_toolbar ul.menu li.active li a:active,
#wdb_toolbar ul.menu li.active li a:focus {
	background: none !important;
	color: #FFFFFF;
}
/*****************************/
/****** Property of WDB ******/
/*****************************/
#wdb_toolbar .menu ul ul {
	margin: -2.05em 0 0 19.5em;
}
#wdb_toolbar .menu ul ul {
	position: absolute;
	z-index: 99;
	height: auto;
}
#wdb_toolbar .menu ul ul {
	background-color: #313131;
	padding: 0px;
}
#wdb_toolbar ul.menu li li li:hover {
	background-color: #aaff55;
}
/*****************************/
/****** Property of WDB ******/
/*****************************/
#wdb_toolbar li:hover ul ul,
#wdb_toolbar li:hover ul ul ul,
#wdb_toolbar li.sfhover ul ul,
#wdb_toolbar li.sfhover ul ul ul,
#wdb_toolbar ul.menu li:hover ul ul,
#wdb_toolbar ul.menu li:hover ul ul ul,
#wdb_toolbar ul.menu li.sfhover ul ul,
#wdb_toolbar ul.menu li.parentsfhover ul ul,
#wdb_toolbar ul.menu li.parent-activesfhover ul ul,
#wdb_toolbar ul.menu li.activesfhover ul ul,
#wdb_toolbar ul.menu li.sfhover ul ul ul,
#wdb_toolbar ul.menu li.parentsfhover ul ul ul,
#wdb_toolbar ul.menu li.parent-activesfhover ul ul ul,
#wdb_toolbar ul.menu li.activesfhover ul ul ul {
	left: -999em;
}
#wdb_toolbar li:hover ul,
#wdb_toolbar li li:hover ul,
#wdb_toolbar li li li:hover ul,
#wdb_toolbar li.sfhover ul,
#wdb_toolbar li li.sfhover ul,
#wdb_toolbar li li li.sfhover ul,
#wdb_toolbar ul.menu li:hover ul,
#wdb_toolbar ul.menu li li:hover ul,
#wdb_toolbar ul.menu li li li:hover ul,
#wdb_toolbar ul.menu li.sfhover ul,
#wdb_toolbar ul.menu li.parentsfhover ul,
#wdb_toolbar ul.menu li.parent-activesfhover ul,
#wdb_toolbar ul.menu li.activesfhover ul,
#wdb_toolbar ul.menu li li.sfhover ul,
#wdb_toolbar ul.menu li li.havesubchildsfhover ul,
#wdb_toolbar ul.menu li li.havesubchild-activesfhover ul,
#wdb_toolbar ul.menu li li.activesfhover ul,
#wdb_toolbar ul.menu li li li.sfhover ul,
#wdb_toolbar ul.menu li li li.havesubchildsfhover ul,
#wdb_toolbar ul.menu li li li.havesubchild-activesfhover ul,
#wdb_toolbar ul.menu li li li.activesfhover ul {
	left: auto;
}