// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

@import "compass/utilities/general/clearfix";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


/* =======
   Units
   ======= */

$u_pt: 12;
$u_em: 1;
$u_px: 16;
$u_percentage: 100%;

@function ptem($pt, $basept: $u_pt){
  @return ($pt/$basept*$u_px)+0px;
}
@function pxem($px, $basepx: $u_px){
  @return ($px/$basepx)+0em;
}

/* ========
   Mixin
   ======== */

/*@mixin sexy-border($color, $width: 1in) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}
p { @include sexy-border(blue); }*/

@mixin bk-scale($img) {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$img, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{$img}, sizingMethod='scale')";
  background-size: 100%;
}
@mixin bk-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin hoverbox_table($target: '.field--image', $expression: '&:last-child',
                $max_width: 470px,
                $container_width: 228px, $container_height: 160px) {
  #{$target}:hover img {
    position: absolute;
    z-index: 50;
    width: $max_width;
    height: auto;
    max-width: $max_width;
    padding: 2px;
    background: #fefefe;
  }
  #{$target}:hover {
    display:block;
    padding-top: 80px;
    padding-left: 100px;
    width: 100%;
    height: $container_height;
    //width: $container_width;
    border:1px solid #454649;
  }
  #{$target}:nth-child(5n):hover {padding-right: 100px; padding-left: 0;}
  //Hand Last sting in the bottom of the page
  #{$expression} #{$target}:hover {
    padding-top: 15px;
  }
}
@mixin hoverbox_div($target: '.field--image', $expression: '&:last-child',
                    $max_width: 470px,
                    $container_width: 228px, $container_height: 160px) {
  #{$target}:hover img {
    position: absolute;
    z-index: 50;
    width: $max_width;
    height: auto;
    max-width: $max_width;
    padding: 2px;
    background: #fefefe;
  }
  #{$target}:hover {
    display:block;
    padding-top: 80px;
    width: $container_width;
    border:1px solid #454649;
  }
  #{$target}:nth-child(5n):hover {padding-right: 100px; padding-left: 0;}

  //Hand Last sting in the bottom of the page
  #{$expression} #{$target}:hover {
    padding-top: 15px;
  }
}
@mixin hoverbox($target: '.field--image', $max_width: 470px,
                $container_width: 228px, $container_height: 160px) {
  #{$target}:hover img {
    position: absolute;
    z-index: 50;
    width: $max_width;
    height: auto;
    max-width: $max_width;
    padding: 2px;
    background: #fefefe;
  }
  #{$target}:hover {
    display:block;
    padding-top: 80px;
    padding-left: 100px;
    //width: 100%;
    height: $container_height;
    width: $container_width;
    border:1px solid #454649;
  }
  #{$target}:nth-child(5n):hover {padding-right: 100px; padding-left: 0;}
}

/* =======
   Units
   ======= */

$u_pt: 12;
$u_em: 1;
$u_px: 16;
$u_percentage: 100%;

$h_header: 96px;

@function ptem($pt, $basept: $u_pt){
  @return ($pt/$basept*$u_px)+0px;
}
@function pxem($px, $basepx: $u_px){
  @return ($px/$basepx)+0em;
}

/* ========
   Mixin
   ======== */

/*@mixin sexy-border($color, $width: 1in) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}
p { @include sexy-border(blue); }*/

@mixin bk-scale($img) {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$img, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{$img}, sizingMethod='scale')";
  background-size: 100%;
}
@mixin bk-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin hr-line ($top: 100%, $left: 0){
  &:after {
    content: ' ';
    width: 100%;
    background: url('#{$img-root}hr_top.png')  repeat-x;
    height: 1em;

    position: absolute;
    top: $top;
    left: $left;
  }
}

/* ============
    Colors
    =========== */

$color_t_logo: #2c2c2c;
$color_t_nav_active: #2c2c2c;
$color_t_nav: #bbbbbb;
$color_t_std: #363636;
$color_t_cd: #707070;
$color_t_pop: #494949;
$color_t_faq: white;
$color_t_link: #2A54B4;
$color_t_link_faq: #0B77A2;

$color_line_head: #3d3d3d;
$color_line_foot: #555555;
$color_line_atgallery: #b2b2b2;
$color_line_vert: #707070;

$color_pop_even: #e2e2e2;
$color_pop_odd: #efefef;

$color_sl_back: #363636;
$color_arrow_back: #636363;

$color_page_back: #fff;

/*Catalog More*/
$color_back_navl: #fc9c4a;
$color_back_navr: #363636;

$color_t_red: #ea4b2c;
$color_t_bread: white;

$color_back_aside: #efefef;
$color_back_cat_head: #464646;

/*Catalog*/
$color_balloon_up: #ef7f1a;
$color_balloon_down: #fdf9f6;

/*FAQ*/
$color_back_faq: #fea04c;

/* ============
    Fonts
    =========== */
$font_head: 'Calibri';
$font_h: 'Cuprum';
$font_text: 'Arial', Helvetica, sans-serif;
$font_atgallery: 'Segoe UI';

$font_size_14: (14/16);


/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html {font-size: 100%; color: #222;}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  /*max-width: 300px;*/
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ======
   Layot
   ====== */

html {
  /*background: url('#{$img-root}main_back_origin.jpg') no-repeat fixed 0 0 ;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_back_origin.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_back_origin.jpg', sizingMethod='scale')";
  background-size: 100%;*/
}

body {
  font: 100%/1.4 $font_text;
  min-width: 480px;
  color: $color_t_std;

  background-color: $color_page_back;
  /*background-color: transparentize($color_page_back, 0.1);*/

}
body.context-webform {
  background: transparent;

  [id|="webform-client-form"] {
    width: 250px;

    input {
      width: 200px;
    }
  }

  #section-header {height: 0; display: none;}
}
iframe body {
  background: transparent !important;
}

/* =======
   Custom
   ======= */

button,
input,
select,
textarea {
  color: $color_t_std;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: $font_h;
  line-height: 1;
}

a {
  color: $color_t_link;
  text-decoration: none;
  text-shadow: none;

  &:hover {
    text-decoration: underline;
  }
}

/*h2 a {color: #139919;}*/
h2 a {color: #495E4A;}
h3 a {color: #279270;}

ul, ol {text-indent: 0;}
p {
  text-indent: 1.3em;
  word-wrap: break-word;
  word-break: break-all;
  /*text-shadow: 0px 1px 0px;*/
}

table {
  border: none;

  tr:hover td {background: transparent;}
  td {
    position: relative;
    vertical-align: top;

  }
}

.star {vertical-align: text-top; text-indent: 1; color: red;}

.hr-line {
  background: url('#{$img-root}hr_top.png')  repeat-x;
  height: 1em;
}
/*hr {margin: 0em 0em 1.5em 5em; width: 200px; background: #b1b1b1;}*/

input.invalid {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
  color: #B94A48;
}

/* ==================
   Magic Happens Here
   ================== */
.l-main {min-height: 600px;}
.l-header {
  font-family: $font_head;

  .site-name {
    letter-spacing: 10px;
    margin-bottom: 0;
    margin-top: 0;

    a {color: $color_t_logo;}
  }
  .site-slogan {
    display: block;
    text-transform: uppercase;
    margin: 0 0 1.5em 0;
    font-size: (14em/16);
    color: $color_t_logo;
  }
}
//.l-region--navigation {
  #block-system-main-menu {
    width: 100%;
    margin: 0 auto (10em/16);

    ul {
      margin: 0;
      padding: 0;
    }

    a {
      float: left;
      width: (100%/5 - 4/5);
      margin: 0 0.5%;
      padding: 0.3em 0;

      text-align: center;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1em;
      color: $color_t_nav;


      &:hover
      {
        color: $color_t_nav_active;
      }
      /*&:visited {
        color: darken($color_t_nav, 10%);
      }*/
      &:hover {
        text-decoration: underline;
      }
    }

    li {
      display: inline;
      min-height: 30px;

      &:first-child a {
        margin-left: 0;
      }
      &:last-child a {
        margin-right: 0;
      }
    }
    li.leaf {
      list-style: none;
      list-style-image: none;
    }
  }
//}
.l-footer {

  & > .copyright {
    padding: (20em/16) 0;
    text-align: right;
    @include pie-clearfix;
    img {
      vertical-align: middle;
      max-width: 120px;

      &:hover {
        opacity: 0.55;
        filter: alpha(opacity=55);
      }
    }
  }
}

/* ===============
    Page custom
    ============= */

//.page-fpp {
  //.node--front-page--full {
    .main.index {
      h4 {margin-top: 0; margin-bottom: 0.5em;}
      p { font-size: (14em/16);  margin: 0;}

      & > article {

        h1 {
          text-align: center;
        }
        & > section {
          display: table-cell;
          vertical-align: top;
          width: 48.5%;

          .separator {
            margin-bottom: 1em;

            &.bottom {margin-bottom: 0;}

            div {
              /*margin: 1%;*/
              vertical-align: top;

              &.left {float: left;}
              &.right {float: right;}

              &.right:first-child {width: 35%;}
              &.right:last-child {width: 62%; text-align: left;}
              &.left:first-child {width: 35%;}
              &.left:last-child {width: 62%; text-align: right;}

              p {
                /*font-weight: 600;*/
                text-indent: 1.8em;
              }

              img {
                vertical-align: top;
                max-width: 300px;
                /*min-height: 157px;*/
                /*min-width: 207px;*/
              }
            }
          }
        }
        & > section.left {
        }
        & > section.right {
        }

        & > div {
          display: table-cell;
          width: 3%;
          background: url('#{$img-root}vr_cd.png')  repeat-y 49% 0;
        }
      }
      & > div.cd {
        margin: 4% 0;

        div {vertical-align: middle;}

        div:first-child {
          display: table-cell;
          width: 40%;
          text-align: right;

          img {
            width: 100%;
            height: auto;
            max-width: 300px;
            margin-right: 1.5em;
          }
        }
        div:last-child {
          display: table-cell;
          width: 60%;
          text-align: left;

          h2 {margin: 0;}
          h3 {margin-top: 0; text-transform: none;}
          p {color: $color_t_cd;}
        }
      }
    }
  //}
//}

.page-faq-page {
background: url('#{$img-root}main_back_origin.jpg') no-repeat fixed 0 0 ;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_back_origin.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_back_origin.jpg', sizingMethod='scale')";
background-size: 100%;

  .l-page {
    background-color: rgba(255, 255, 255, 0.93);

  //.l-content {
    .breadcrumb {display: none;}
    .l-content h1 {
      position: relative;

      @include hr-line;
    }

    .faq-question-answer .active { color: $color_t_link_faq; font-weight: 700;}
    .faq-answer.collapsible {
      margin: 1em 0;
      padding-bottom: 50px;
      background: url('#{$img-root}faq_tail.png') no-repeat 99% 91.5%;
      position: relative;

      @include hr-line(97%, 3.2%);

      .field--body {
        color: $color_t_faq;
        padding: 1.2em 1em 1em 1.8em;
        font-weight: 700;
        background: $color_back_faq;

        p:first-child {margin-top: 0;}
        p:last-child {margin-bottom: 0;}
      }
    }
  //}
  }
}

.page-gallery {
  .l-content {

    .breadcrumb {display: none;}

    h1 {
      position: relative;
      margin-bottom: 1.5em;

      @include hr-line;
    }

    .view-content {
      h2 {margin-bottom:0}
      h3 {margin-top:0.5em}
      tr {width: 100%;}

      table {
        margin-left: 1em;
        position: relative;

        @include hr-line;
      }
      table {@include hoverbox_table();}
      td {width: (100%/5 - 8*0.5); padding: 0 0.5%;}

      //.field--image {width: (100%/5 - 8*0.5); padding: 0 0.5%;}
      .field--image {
        position: relative;
      }
      img {
        max-width: 235px;
      }

      .views-field-add-to-cart-form {
        display: inline-block;
        margin-top: 5px;
      }
      /*field--commerce-price*/
      .views-field-add-to-cart-form + div {
        display: inline-block;
        position: relative;

        .field--commerce-price {
          position: relative;
          bottom: 3px;
        }
      }
    }
  }
}
.node-type-product-display.section-albums {
  .l-content {

    h1 {
      position: relative;
      margin-bottom: 1.5em;

      @include hr-line;
    }

    .view-content {
      .views-view-grid > div {
        width: 100%;
        position: relative;

        @include hr-line;
      }
      //.views-view-grid > div{@include hoverbox_div();}

      .views-field-field-image {
        margin-left: 1em;

        @include clearfix;
      }
      .field--image {
        float: left;
        //width: (100%/5 - 2*0.5);
        width: 18.75%;
        margin: 0 0.5% 10px;

        img {max-width: 235px;}
      }

      .views-field-add-to-cart-form {
        display: inline-block;
        margin-top: 5px;
        margin-left: 2em;
      }
      /*field--commerce-price*/
      .views-field-add-to-cart-form + div {
        display: inline-block;
        position: relative;

        .field--commerce-price {
          position: relative;
          bottom: 3px;
        }
      }
    }
  }
}
.page-albums.section-albums {
  .l-content {

    h1 {
      position: relative;
      margin-bottom: 1.5em;

      @include hr-line;
    }

    .view-content {
      .views-view-grid > div {
        width: 100%;
        margin-left: 1em;
      }

      .views-field-field-image {
        position: relative;

        @include clearfix;
      }
      .field--image {
        float: left;
        //width: (100%/5 - 2*0.5);
        width: 18.5%;
        margin: 0 0.5% 10px;

        img {max-width: 235px;}
      }


      .views-field-add-to-cart-form {
        display: inline-block;
        margin-top: 5px;
        margin-left: 2em;
      }
      /*field--commerce-price*/
      .views-field-add-to-cart-form + div {
        display: inline-block;
        position: relative;

        .field--commerce-price {
          position: relative;
          bottom: 3px;
        }
      }
    }
  }
}

/* ===============
    Block custom
    ============= */

// Crop field module:
//fixes: height and width for output image
//place into modules/system/system.theme.css
//.imagefield-crop-widget {
//  .jcrop-preview-wrapper { width: auto !important; height: auto !important;}
//  .jcrop-preview {max-width: 500px !important; height: auto !important;}
//}

.breadcrumb {
  list-style: none;
  list-style-image: none;
  text-transform: capitalize;

  li {display: inline;}
}

.pager-container {

  .item-count {display: none; float: left;}
  .item-list {float: right;}

  ul.pager {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border: none;
    border-radius: 0;

    li {
      float: none;

      a {color: #268EFE;}

      &.pager-current.last, .pager-current.last a, .pager-current.last a:hover {
        border-radius: 0 5px 5px 0;
      }
      &.pager-next {
        position: static;

        a {
          width: auto;
          padding: 4px 8px;
          background: none;
        }

        &.last {
          position: static;
        }
      }
      &.pager-previous {
        a {
          width: auto;
          padding: 4px 8px;
          background: none;
        }
      }
      &.pager-last {
        position: static;

        a {
          width: auto;
          padding: 4px 8px;
        }
      }
      &.pager-first {
        a {
          width: auto;
          padding: 4px 8px;
        }
      }
    }
  }
}

.commerce-add-to-cart {

  input[type='submit'] {
    border: none;
    color: transparent;
    background: transparent url('#{$img-root}basket_mini.png') no-repeat;
    width:41px;
    height: 48px;
  }
}

/* ===============
    Querys
    ============= */

@media only screen and (min-width: 768px) {

  .head nav {
    width: 90%;
    margin: 0 5%;

    a {
      font-size: (18em/16);
    }
  }
}

@media only screen and (min-width: 1140px) {

  .popular-container{

    .popular {

      div.content {

        article{

          section{

            &.five-element {
              display: table-cell;
            }
          }

        }
      }

    }
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
.invisible {
  visibility: hidden;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}