.main article {
    width: 100%;
    text-align: center;
}
.main article>div {
    max-width: 1200px;
}
.main article section{
    float: left;
    width: 30%;
    margin: 0 1.5% 1.5% 0;
    padding-bottom: 1em;
    background: #800098;
    /*word-wrap: break-word;*/
}
.main article section:hover{
    background: #9900ad;
    /*box-shadow: 0 0 15px 3px #9900ad;*/
    cursor: pointer;
}
/*.main article section:nth-child(3n-2){
    margin-left: 3%;wassssssssss
}*/
.main article section:nth-child(3n){
    margin-right: 0;
}
.main article section>img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
.main article section>h3 {
    width: 90%;
    margin: auto;
    padding: 0;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #EAECF6;
    white-space: nowrap;
}
.main article section>div {
    /*white-space: pre-line;*/
    display: none;

}
.main article section.sect-more {
    float: none;
    clear: both;
    width: 100%;
    text-align: left;
    background: transparent;/* url('img/close_bk.png') 100% 0 no-repeat;*/
}
.main article section.sect-more>h3 {
    border: none;
    margin-top: 7%;
    color: #fff;
    width: 70%;
    font-family: 'Segoe UI';
    padding: 0;
    background-color: #800098;

    position: relative; /*Animate*/
    left: 100%;
    /*transform: skew(270deg);
    -ms-transform: skew(270deg);*/ /* IE 9 */
    /*-webkit-transform: skew(270deg);*/ /* Safari and Chrome */
    /*-o-transform: skew(270deg);*/ /* Opera */
}
.main article section.sect-more>h3:before {
    content: '.......' !important;
    color: transparent;
    background: #800098 url('img/h_back.png') 0 50% no-repeat;
    background-size: 100%;
    margin-right: 1em;
}
.main article section.sect-more>h3,
.main article section.sect-more>img {
    float: left;
}
.main article section.sect-more>h3>br {display: none;}
.main article section.sect-more>img {width: 30%;}
.main article section.sect-more>div {
    clear: both;
    cursor: default;
}
.main article section.sect-more>div p {text-indent: 1.3em;}
.main article section.sect-more>div ul,
.main article section.sect-more>div ol {text-indent: 0;}

/************
***Site Extention**
**************/
.main section .site-ext {
    float: left;
    max-width: 300px;
    text-align: center;
}

.main section .site-ext>div {
    background: #800098;
    max-height: 200px;
    padding: 1em 0.1em;
}
.main section .site-ext>div:not(:last-child) {
    margin-bottom: 1.5%;
}
.main section .site-ext>div:hover {
    cursor: pointer;
}
.main section .site-ext .hovered {
    background: #9900ad;
    /*box-shadow: 0 0 15px 3px #9900ad;*/
}
/**Image Block*/
/*.main>div>div>div {
    height: 100%;
    width: 20%;
    display: inline-block;
    margin: 1em;
}
.main>div>div img {
    width: 100%;
    height: auto;
    max-height: 90px;
    max-width: 100px !important;
}*/
.main section .site-ext h3 {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}



.main section .site-data {
    float: right;
    text-align: left;
    vertical-align: top;
    /*display: table-cell;*/
}
/*.main section .site-data {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}*/


/****************
****FEEDBACK AREA
*****************/


.allend .feedback-form {
    width: 100%;
    height: 100%;
}

/*.feedback-form *:not(input) {padding: 0 !important;}*/
.allend .feedback-form>div {
    float: left;
    /*display: table-cell;*/
    width: 5%;
}

.allend .feedback-form>div:first-child {
    width: 25%;
}
.allend .feedback-form>div:first-child>* {
    display: block;
    width: 88%;
    margin: 0;
}
.allend .feedback-form>div:first-child>*:not(:last-child) {margin-bottom: 0.6em;}
.allend .feedback-form>div:first-child input {
    padding: 0.75em;
}
.allend .feedback-form>div:first-child .LBD_CaptchaDiv {
    max-height: 80px;
    width: 100%;
}
.allend .feedback-form .LBD_CaptchaDiv a {width: 100%; height: 100%;}
.allend .feedback-form .LBD_CaptchaDiv img {
    height: auto;
    max-height: 80px;
    width: 100%;
}

.allend .feedback-form>div:last-child {
    width: 70%;
    float: right;
    position: relative;
}
.allend .feedback-form>div:last-child .bk-adv,
.allend .feedback-form>div:last-child .bk-site,
.allend .feedback-form>div:last-child .bk-soft {
    border-radius: 5px;
}
.allend .feedback-form>div:last-child .bk-adv {background-color: #ffe8ed;}
.allend .feedback-form>div:last-child .bk-site {background-color: #ebffda;}
.allend .feedback-form>div:last-child .bk-soft {background-color: #f4ecff;}
.allend .feedback-form>div:last-child .bk-adv:hover {background-color: #ffdfeb;}
.allend .feedback-form>div:last-child .bk-site:hover {background-color: #deffcf;}
.allend .feedback-form>div:last-child .bk-soft:hover {background-color: #e6e5ff;}

.allend .feedback-form .chk-wrapper {margin-bottom: 0.5em;}
.allend .feedback-form .chk-box {
    width: 100%;
    line-height: 120%;
    word-wrap: break-word;
}
.allend .feedback-form .chk-box *{
    word-wrap: break-word;
}
.allend .feedback-form .chk-box:first-of-type {
    margin-bottom: 0.25em;
}
.allend .feedback-form .chk-box:last-of-type {
    /*margin-bottom: 0.5em;*/
}
.allend .feedback-form .cl-right,
.allend .feedback-form .cl-left {
    display: inline-block;
    word-wrap: break-word;
    width: 49%;
    vertical-align: middle;
}
.allend .feedback-form .cl-left{
    /*margin-right: 1.5%;*/
    /*float: left;*/
}
.allend .feedback-form .cl-right{
    /*float: right;*/
}
.allend .feedback-form .chk-box input[type='checkbox'] {margin-right: 0.1em; cursor: pointer;}

.allend .feedback-form textarea {
    width: 95%;
    height: 45%;
    padding: 0.75em;
}
.allend .feedback-form button {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 89%;
    left: -1px;
    padding: 0;
}



.allend>header {color: #440e62;}


.allend .feedback-form .LBD_CaptchaDiv,
.allend .feedback-form input,
.allend .feedback-form textarea,
.allend .feedback-form button{
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 55px 10px;
    -moz-border-radius: 55px 10px;
    border-radius: 55px 10px;
}

.allend .feedback-form .LBD_CaptchaDiv,
.allend .feedback-form input {
    color: #c8c8c8;
    font-style: italic;
    text-align: center;
}
.feedback-form textarea:focus,
.feedback-form input:focus {
    outline: none;
}
.allend .feedback-form input[name="captchacode"] {
    text-transform: uppercase;
}
.allend .feedback-form .LBD_CaptchaDiv:hover,
.allend .feedback-form input:hover{
    color: #630460;
    border-color: #9b9b9b;
}

.allend .feedback-form textarea {
    color: #252525;
    border-radius: 10px 10px 0px 0px;
    resize: none;

}
.allend .feedback-form button {
    border-radius: 0px 0px 10px 10px;
    background-color: #580068;
    color: #fff;
}

.allend .feedback-form .LBD_CaptchaDiv {
    position: relative;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.allend .feedback-form .LBD_CaptchaImageDiv img {
    -webkit-border-radius: 9px 7px 7px 9px;
    -moz-border-radius: 9px 7px 7px 9px;
    border-radius: 9px 7px 7px 9px;
}
.allend .feedback-form .LBD_CaptchaImageDiv {
    width: 88%;
    margin-right: 1%;
}
.allend .feedback-form .LBD_CaptchaIconsDiv {
    width: 11%;
    margin: 0;
    position: relative;
    left: 1%;
}
/*.allend .feedback-form .LBD_CaptchaIconsDiv .LBD_SoundIcon{
    position: absolute;
    bottom: 0;
    top: 78%;
    right: 0;
}*/

.allend .feedback-form .LBD_CaptchaIconsDiv a:link,
.allend .feedback-form .LBD_CaptchaIconsDiv a:visited,
.allend .feedback-form .LBD_CaptchaIconsDiv a:focus,
.allend .feedback-form .LBD_CaptchaIconsDiv a:hover,
.allend .feedback-form .LBD_CaptchaIconsDiv a:active {margin: 0;}


/* ==========================================================================
   Mobile
   ========================================================================== */

/**************
*******Font Fixes***
*************/
.main article section>h3 {
    font-size: 0.6em;
    line-height: 1.4;
}
.main article section.sect-more>h3 {
    font-size: 0.8em;
    white-space: normal;
}
.main section .site-ext h3 {
    font-size: 0.7em;
    line-height: 1.4;
}


/* ==============
MOBILE: Main
============== */
.main article>div {
     margin-left: 6.5%;
 }
.main article>div.sect-more-wrapper {
     margin-left: 0;
 }
.main article section.sect-more>div {
    width: 100%;
}

.main section .site-ext {
    width: 29.6%;
}
.main section .site-data {
    width: 68.4%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/*@media only screen and (max-width: 530px) {
}*/

@media only screen and (min-width: 480px) {

    /**************
*******Font Fixes***
*************/
    .main article section>h3 {
        font-size: 0.7em;
    }
    .main article section.sect-more>h3 {
        font-size: 0.95em;
        white-space: nowrap;
    }
    .main section .site-ext h3 {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 624px) {
    /**************
*******Font Fixes***
*************/
    .main article section>h3 {
        font-size: 0.9em;
    }
    .main article section.sect-more>h3 {
        font-size: 1.25em;
    }
    .main section .site-ext h3 {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {

    /**************
    *******Font Fixes***
    *************/
    .main article section>h3 {
        font-size: 1em;
    }
    .main article section.sect-more>h3 {
        font-size: 1.35em;
    }
    .main section .site-ext h3 {
        font-size: 1.1em;
    }

}

/*@media only screen and (min-width: 870px) {
}*/

@media only screen and (min-width: 1140px) {

    .main article>div.sect-more-wrapper {
    margin-left: 6.5%;
    }
    .main article section.sect-more>div {
        width: 90%;
    }

    .main section .site-ext {
        width: 35%;
    }
    .main section .site-data {
        width: 63%;
    }

    /*************
        *****Font Fixes****
        ******************/
    .main article section>h3 {
        font-size: 1.17em;
    }
    .main article section.sect-more>h3 {
        font-size: 1.45em;
    }
    .main section .site-ext h3 {
        font-size: 1.17em;
    }
}