.main .form-doit {
    position: relative;
}
.main .form-doit span{
    text-shadow: 0px 1px 0px;
}
.main .form-doit>header>section p {margin-top: 0;}
.main .form-doit>header>section h4 {margin: 0;}

.main .form-doit>footer p {margin-bottom: 0;}


.main .form-doit .left {
    float: left;
    width: 5%;
    min-width: 70px;
    margin-right: 2%;
}
.main .form-doit .right {
    float: left;
    width: 35%;
    min-width: 173px;
}

.main .form-doit .right.rad-time{
    width: 70%;
}

.main .form-doit .s-clearfix {margin-bottom: 0.3em}

/*.main .form-doit .right span {line-height: 1;}*/

.main .form-doit .right input[type="text"],
.main .form-doit .right select {
    width: 100%;
    padding: 0.1em 0.3em;
    border-radius: 10px;
    background-color: #FFFBE0;
    border: 1px solid #949493;
}
.main .form-doit .right:not(.line-input) input[type="text"]
.main .form-doit .right:not(.verysmallfield) input[type="text"] {min-width: 173px;}
.main .form-doit .right select {
    border-radius: 5px;
    max-width: 185px;
}
.main .form-doit .right input[type="text"]:focus,
.main .form-doit .right select:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 15px 1px rgba(218, 253, 245, 1);
    -moz-box-shadow: inset 0px 0px 15px 1px rgba(218, 253, 245, 1);
    box-shadow: inset 0px 0px 15px 1px rgba(218, 253, 245, 1);
}

.main .form-doit .right.smallfield input{
     max-width: 173px;
 }
.main .form-doit .right.verysmallfield input{
    max-width: 85px;
}
.main .form-doit .right.verysmallfield input:last-child{
    max-width: 41px;
}
.main .form-doit .right.smallfield.rad-time {
    width: 70%;
}

.main .form-doit .right.line-input {
    width: 74%;
}
.main .form-doit .right.line-input input[type="text"]{
    max-width: 25px;
    margin-right: 0.5em;
}
.main .form-doit .right span {
    margin-right: 0.2em;
}
.main .form-doit .right *:last-child {
    margin-right: 0 !important;
}



@media only screen and (min-width: 480px) {

    .main .form-doit .right.line-input input[type="text"]{
        max-width: 50px;
    }
}

@media only screen and (min-width: 1140px) {
    .main .form-doit>header>section{
        position: absolute;
        right: 0;
        width: 30%;
        max-width: 200px;
        margin: 0.5em;
    }
}

.main .form-doit .rad-time input[type="radio"] {
    padding: 0.2em;
    cursor: pointer;
}

.main .form-doit footer button{
     display: block;
     margin: 1em auto;
     padding: 1em;
     text-align: center;
     color: #4D4C47;
     background: rgba(245, 202, 0, 0.44);
     border-radius: 15px;
 }
.main .form-doit footer button:hover, .main .form-doit footer button:focus {
    outline: none;
    text-decoration: none;
}