/* Put your ie6 specific rules here.  */
/* Put your ie7 specific rules here.  */
.actionButtons {margin-left: -200px;margin-top: 190px;width: 400px;}
.templateIntro img {margin-top: -20px;}
#subnav
{
	position:absolute;
	margin-left:20px;
	margin-top:62px;
	width:660px
}