@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/storm\/Projects\/git\/Stuff\/Puls\/foto000\/sites\/all\/themes\/omega_d1\/sass\/omega-d1\.hacks\.scss}line{font-family:\000033}}
  #toolbar, #admin-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/storm\/Projects\/git\/Stuff\/Puls\/foto000\/sites\/all\/themes\/omega_d1\/sass\/omega-d1\.hacks\.scss}line{font-family:\000038}}
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
