@charset "UTF-8";
/******************
*Define Global Vars
*******************/
/************
*Helper Class
*************/
.simple {
 /**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
}
.simple.hide {
  display: none;
}
.simple.invisible {
  visibility: hidden;
}
.simple.clearfix {
  clear: both;
}
.simple.nowrap {
  white-space: nowrap;
}
.simple.wrap {
  white-space: normal;
}
.simple.upper {
  text-transform: uppercase;
}
.simple.cf {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}
.simple.cf:before, .simple.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.simple.cf:after {
  clear: both;
}

/* ======================================
        Font Load
        ====================================*/
@font-face {
  font-family: 'Calibri';
  src: local("Calibri");
  src: url("font/calibri.eot");
  src: url("font/calibri.eot") format("embedded-opentype"), url("font/calibri.woff") format("woff"), url("font/calibri.ttf") format("truetype"), url("font/calibri.svg#CalibriRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: local("Arial");
  src: url("font/arial.eot");
  src: url("font/arial.eot") format("embedded-opentype"), url("font/arial.woff") format("woff"), url("font/arial.ttf") format("truetype"), url("font/arial.svg#ArialRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Semibold';
  src: local("Segoe UI Semibold");
  src: url("font/seguisb.eot");
  src: url("font/seguisb.eot") format("embedded-opentype"), url("font/seguisb.woff") format("woff"), url("font/seguisb.ttf") format("truetype"), url("font/seguisb.svg#SegoeUIRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI");
  src: url("font/segoeui.eot");
  src: url("font/segoeui.eot") format("embedded-opentype"), url("font/segoeui.woff") format("woff"), url("font/segoeui.ttf") format("truetype"), url("font/segoeui.svg#SegoeUIRegular") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum Bold';
  src: local("Cuprum Bold");
  src: url("font/cuprum-bold.eot");
  src: url("font/cuprum-bold.eot") format("embedded-opentype"), url("font/cuprum-bold.woff") format("woff"), url("font/cuprum-bold.ttf") format("cuprum-bold"), url("font/cuprum-bold.svg#CuprumBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local("Cuprum");
  src: url("font/cuprum.eot");
  src: url("font/cuprum.eot") format("embedded-opentype"), url("font/cuprum.woff") format("woff"), url("font/cuprum.ttf") format("cuprum-bold"), url("font/cuprum.svg#CuprumRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

img, media {
  max-width: 100%;
}

/* =======
   Units
   ======= */
/* ========
   Mixin
   ======== */
/*@mixin sexy-border($color, $width: 1in) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}
p { @include sexy-border(blue); }*/
/* =======
   Units
   ======= */
/* ========
   Mixin
   ======== */
/*@mixin sexy-border($color, $width: 1in) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}
p { @include sexy-border(blue); }*/
/* ============
    Colors
    =========== */
/*Catalog More*/
/*Catalog*/
/*FAQ*/
/* ============
    Fonts
    =========== */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html {
  font-size: 100%;
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  /*max-width: 300px;*/
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ======
   Layot
   ====== */
html {
  /*background: url('../images/main_back_origin.jpg') no-repeat fixed 0 0 ;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_back_origin.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_back_origin.jpg', sizingMethod='scale')";
  background-size: 100%;*/
}

body {
  font: 100%/1.4 "Arial", Helvetica, sans-serif;
  min-width: 480px;
  color: #363636;
  background-color: white;
  /*background-color: transparentize($color_page_back, 0.1);*/
}

body.context-webform {
  background: transparent;
}
body.context-webform [id|="webform-client-form"] {
  width: 250px;
}
body.context-webform [id|="webform-client-form"] input {
  width: 200px;
}
body.context-webform #section-header {
  height: 0;
  display: none;
}

iframe body {
  background: transparent !important;
}

/* =======
   Custom
   ======= */
button,
input,
select,
textarea {
  color: #363636;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Cuprum";
  line-height: 1;
}

a {
  color: #2a54b4;
  text-decoration: none;
  text-shadow: none;
}
a:hover {
  text-decoration: underline;
}

/*h2 a {color: #139919;}*/
h2 a {
  color: #495E4A;
}

h3 a {
  color: #279270;
}

ul, ol {
  text-indent: 0;
}

p {
  text-indent: 1.3em;
  word-wrap: break-word;
  word-break: break-all;
  /*text-shadow: 0px 1px 0px;*/
}

table {
  border: none;
}
table tr:hover td {
  background: transparent;
}
table td {
  position: relative;
  vertical-align: top;
}

.star {
  vertical-align: text-top;
  text-indent: 1;
  color: red;
}

.hr-line {
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
}

/*hr {margin: 0em 0em 1.5em 5em; width: 200px; background: #b1b1b1;}*/
input.invalid {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
  color: #B94A48;
}

/* ==================
   Magic Happens Here
   ================== */
.l-main {
  min-height: 600px;
}

.l-header {
  font-family: "Calibri";
}
.l-header .site-name {
  letter-spacing: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
.l-header .site-name a {
  color: #2c2c2c;
}
.l-header .site-slogan {
  display: block;
  text-transform: uppercase;
  margin: 0 0 1.5em 0;
  font-size: 0.875em;
  color: #2c2c2c;
}

#block-system-main-menu {
  width: 100%;
  margin: 0 auto 0.625em;
}
#block-system-main-menu ul {
  margin: 0;
  padding: 0;
}
#block-system-main-menu a {
  float: left;
  width: 19.2%;
  margin: 0 0.5%;
  padding: 0.3em 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  color: #bbbbbb;
  /*&:visited {
    color: darken($color_t_nav, 10%);
  }*/
}
#block-system-main-menu a:hover {
  color: #2c2c2c;
}
#block-system-main-menu a:hover {
  text-decoration: underline;
}
#block-system-main-menu li {
  display: inline;
  min-height: 30px;
}
#block-system-main-menu li:first-child a {
  margin-left: 0;
}
#block-system-main-menu li:last-child a {
  margin-right: 0;
}
#block-system-main-menu li.leaf {
  list-style: none;
  list-style-image: none;
}

.l-footer > .copyright {
  padding: 1.25em 0;
  text-align: right;
  *zoom: 1;
}
.l-footer > .copyright:after {
  content: "";
  display: table;
  clear: both;
}
.l-footer > .copyright img {
  vertical-align: middle;
  max-width: 120px;
}
.l-footer > .copyright img:hover {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

/* ===============
    Page custom
    ============= */
.main.index h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.main.index p {
  font-size: 0.875em;
  margin: 0;
}
.main.index > article h1 {
  text-align: center;
}
.main.index > article > section {
  display: table-cell;
  vertical-align: top;
  width: 48.5%;
}
.main.index > article > section .separator {
  margin-bottom: 1em;
}
.main.index > article > section .separator.bottom {
  margin-bottom: 0;
}
.main.index > article > section .separator div {
  /*margin: 1%;*/
  vertical-align: top;
}
.main.index > article > section .separator div.left {
  float: left;
}
.main.index > article > section .separator div.right {
  float: right;
}
.main.index > article > section .separator div.right:first-child {
  width: 35%;
}
.main.index > article > section .separator div.right:last-child {
  width: 62%;
  text-align: left;
}
.main.index > article > section .separator div.left:first-child {
  width: 35%;
}
.main.index > article > section .separator div.left:last-child {
  width: 62%;
  text-align: right;
}
.main.index > article > section .separator div p {
  /*font-weight: 600;*/
  text-indent: 1.8em;
}
.main.index > article > section .separator div img {
  vertical-align: top;
  max-width: 300px;
  /*min-height: 157px;*/
  /*min-width: 207px;*/
}
.main.index > article > div {
  display: table-cell;
  width: 3%;
  background: url("../images/vr_cd.png") repeat-y 49% 0;
}
.main.index > div.cd {
  margin: 4% 0;
}
.main.index > div.cd div {
  vertical-align: middle;
}
.main.index > div.cd div:first-child {
  display: table-cell;
  width: 40%;
  text-align: right;
}
.main.index > div.cd div:first-child img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-right: 1.5em;
}
.main.index > div.cd div:last-child {
  display: table-cell;
  width: 60%;
  text-align: left;
}
.main.index > div.cd div:last-child h2 {
  margin: 0;
}
.main.index > div.cd div:last-child h3 {
  margin-top: 0;
  text-transform: none;
}
.main.index > div.cd div:last-child p {
  color: #707070;
}

.page-faq-page {
  background: url("../images/main_back_origin.jpg") no-repeat fixed 0 0;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale')";
  background-size: 100%;
}
.page-faq-page .l-page {
  background-color: rgba(255, 255, 255, 0.93);
}
.page-faq-page .breadcrumb {
  display: none;
}
.page-faq-page .l-content h1 {
  position: relative;
}
.page-faq-page .l-content h1:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-faq-page .faq-question-answer .active {
  color: #0b77a2;
  font-weight: 700;
}
.page-faq-page .faq-answer.collapsible {
  margin: 1em 0;
  padding-bottom: 50px;
  background: url("../images/faq_tail.png") no-repeat 99% 91.5%;
  position: relative;
}
.page-faq-page .faq-answer.collapsible:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 97%;
  left: 3.2%;
}
.page-faq-page .faq-answer.collapsible .field--body {
  color: white;
  padding: 1.2em 1em 1em 1.8em;
  font-weight: 700;
  background: #fea04c;
}
.page-faq-page .faq-answer.collapsible .field--body p:first-child {
  margin-top: 0;
}
.page-faq-page .faq-answer.collapsible .field--body p:last-child {
  margin-bottom: 0;
}

.page-gallery .l-content .breadcrumb {
  display: none;
}
.page-gallery .l-content h1 {
  position: relative;
  margin-bottom: 1.5em;
}
.page-gallery .l-content h1:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-gallery .l-content .view-content {
  /*field--commerce-price*/
}
.page-gallery .l-content .view-content h2 {
  margin-bottom: 0;
}
.page-gallery .l-content .view-content h3 {
  margin-top: 0.5em;
}
.page-gallery .l-content .view-content tr {
  width: 100%;
}
.page-gallery .l-content .view-content table {
  margin-left: 1em;
  position: relative;
}
.page-gallery .l-content .view-content table:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-gallery .l-content .view-content table .field--image:hover img {
  position: absolute;
  z-index: 50;
  width: 470px;
  height: auto;
  max-width: 470px;
  padding: 2px;
  background: #fefefe;
}
.page-gallery .l-content .view-content table .field--image:hover {
  display: block;
  padding-top: 80px;
  padding-left: 100px;
  width: 100%;
  height: 160px;
  border: 1px solid #454649;
}
.page-gallery .l-content .view-content table .field--image:nth-child(5n):hover {
  padding-right: 100px;
  padding-left: 0;
}
.page-gallery .l-content .view-content table:last-child .field--image:hover {
  padding-top: 15px;
}
.page-gallery .l-content .view-content td {
  width: 16%;
  padding: 0 0.5%;
}
.page-gallery .l-content .view-content .field--image {
  position: relative;
}
.page-gallery .l-content .view-content img {
  max-width: 235px;
}
.page-gallery .l-content .view-content .views-field-add-to-cart-form {
  display: inline-block;
  margin-top: 5px;
}
.page-gallery .l-content .view-content .views-field-add-to-cart-form + div {
  display: inline-block;
  position: relative;
}
.page-gallery .l-content .view-content .views-field-add-to-cart-form + div .field--commerce-price {
  position: relative;
  bottom: 3px;
}

.node-type-product-display.section-albums .l-content h1 {
  position: relative;
  margin-bottom: 1.5em;
}
.node-type-product-display.section-albums .l-content h1:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.node-type-product-display.section-albums .l-content .view-content {
  /*field--commerce-price*/
}
.node-type-product-display.section-albums .l-content .view-content .views-view-grid > div {
  width: 100%;
  position: relative;
}
.node-type-product-display.section-albums .l-content .view-content .views-view-grid > div:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.node-type-product-display.section-albums .l-content .view-content .views-field-field-image {
  margin-left: 1em;
  overflow: hidden;
  *zoom: 1;
}
.node-type-product-display.section-albums .l-content .view-content .field--image {
  float: left;
  width: 18.75%;
  margin: 0 0.5% 10px;
}
.node-type-product-display.section-albums .l-content .view-content .field--image img {
  max-width: 235px;
}
.node-type-product-display.section-albums .l-content .view-content .views-field-add-to-cart-form {
  display: inline-block;
  margin-top: 5px;
  margin-left: 2em;
}
.node-type-product-display.section-albums .l-content .view-content .views-field-add-to-cart-form + div {
  display: inline-block;
  position: relative;
}
.node-type-product-display.section-albums .l-content .view-content .views-field-add-to-cart-form + div .field--commerce-price {
  position: relative;
  bottom: 3px;
}

.page-albums.section-albums .l-content h1 {
  position: relative;
  margin-bottom: 1.5em;
}
.page-albums.section-albums .l-content h1:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-albums.section-albums .l-content .view-content {
  /*field--commerce-price*/
}
.page-albums.section-albums .l-content .view-content .views-view-grid > div {
  width: 100%;
  margin-left: 1em;
}
.page-albums.section-albums .l-content .view-content .views-field-field-image {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
.page-albums.section-albums .l-content .view-content .field--image {
  float: left;
  width: 18.5%;
  margin: 0 0.5% 10px;
}
.page-albums.section-albums .l-content .view-content .field--image img {
  max-width: 235px;
}
.page-albums.section-albums .l-content .view-content .views-field-add-to-cart-form {
  display: inline-block;
  margin-top: 5px;
  margin-left: 2em;
}
.page-albums.section-albums .l-content .view-content .views-field-add-to-cart-form + div {
  display: inline-block;
  position: relative;
}
.page-albums.section-albums .l-content .view-content .views-field-add-to-cart-form + div .field--commerce-price {
  position: relative;
  bottom: 3px;
}

.page-routes {
  background: url("../images/main_back_origin.jpg") no-repeat fixed 0 0;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale')";
  background-size: 100%;
}
.page-routes .l-page {
  background-color: rgba(255, 255, 255, 0.93);
}
.page-routes .l-content .breadcrumb {
  display: none;
}
.page-routes .l-content h1 {
  position: relative;
  margin-bottom: 1.5em;
}
.page-routes .l-content h1:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-routes .l-content .view-content h2 {
  margin-bottom: 0;
}
.page-routes .l-content .view-content h3 {
  margin-top: 0.5em;
}
.page-routes .l-content .view-content tr {
  width: 100%;
}
.page-routes .l-content .view-content table {
  margin-left: 1em;
  position: relative;
}
.page-routes .l-content .view-content table:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-routes .l-content .view-content td {
  width: 16%;
  padding: 0 0.5%;
  text-align: center;
}
.page-routes .l-content .view-content .field--image {
  position: relative;
  text-align: center;
}
.page-routes .l-content .view-content img {
  max-width: 130px;
}
.page-routes .l-content .view-content .field--text {
  font-size: 0.875em;
}

.node-type-route-display {
  background: url("../images/main_back_origin.jpg") no-repeat fixed 0 0;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale')";
  background-size: 100%;
}
.node-type-route-display .l-page {
  background-color: rgba(255, 255, 255, 0.93);
}
.node-type-route-display .l-content h1 {
  position: relative;
  margin-bottom: 1.5em;
}
.node-type-route-display .l-content h1:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.node-type-route-display .l-content .view-content h2 {
  margin-bottom: 0;
}
.node-type-route-display .l-content .view-content h3 {
  margin-top: 0.5em;
}
.node-type-route-display .l-content .view-content tr {
  width: 100%;
}
.node-type-route-display .l-content .view-content table {
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
}
.node-type-route-display .l-content .view-content table:after {
  content: ' ';
  width: 100%;
  background: url("../images/hr_top.png") repeat-x;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.node-type-route-display .l-content .view-content td {
  width: 16%;
  padding: 0 0.5%;
  text-align: center;
}
.node-type-route-display .l-content .view-content .field--route > div {
  margin: 0 auto;
}
.node-type-route-display .l-content .view-content img {
  max-width: 235px;
}
.node-type-route-display .l-content .view-content .field--text {
  font-size: 0.875em;
}

.page-routes.section-routes .l-content .breadcrumb {
  display: block;
}
.page-routes.section-routes .l-content .view-content .field--text {
  font-size: 1em;
}

.page-catalog {
  background: url("../images/main_back_origin.jpg") no-repeat fixed 0 0;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/main_back_origin.jpg', sizingMethod='scale')";
  background-size: 100%;
}
.page-catalog .l-page {
  background-color: rgba(255, 255, 255, 0.93);
}
.page-catalog .l-main {
  min-height: 500px !important;
}
.page-catalog .breadcrumb {
  display: none;
}
.page-catalog #YMapsID {
  width: 100%;
  /*height: 100%;*/
}
.page-catalog #YMapsID .field--image {
  margin-right: 5px;
}
.page-catalog #YMapsID .field--image img {
  max-width: 50px;
}
.page-catalog #YMapsID .field--image, .page-catalog #YMapsID .field--prodtitle {
  display: inline-block;
}
.page-catalog #YMapsID .ymaps-panel-pane .ymaps-balloon_layout_panel {
  /*background: $color_balloon_up;*/
  background: #ef7f1a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmN2YxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGY5ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ef7f1a 0%, #fdf9f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef7f1a), color-stop(100%, #fdf9f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ef7f1a 0%, #fdf9f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ef7f1a 0%, #fdf9f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ef7f1a 0%, #fdf9f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ef7f1a 0%, #fdf9f6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef7f1a', endColorstr='#fdf9f6',GradientType=0 );
  /* IE6-8 */
}
.page-catalog #YMapsID .ymaps-panel-pane .ymaps-balloon_layout_panel h4 {
  margin: 0;
}
.page-catalog #YMapsID .ymaps-panel-pane .ymaps-balloon_layout_panel ul {
  font-size: 14em/16;
  margin: 0;
  display: inline-block;
}
.page-catalog #YMapsID .ymaps-panel-pane .ymaps-balloon_layout_panel div {
  display: inline-block;
  margin-left: 0.5em;
}
.page-catalog #YMapsID .ymaps-panel-pane .ymaps-balloon_layout_panel div img {
  width: 40px;
  height: 40px;
  margin-right: 0.3em;
}

/*.page-catalog.section-catalog*/
body[class*="page-catalog-"] {
  background: white;
}
body[class*="page-catalog-"] .l-main {
  margin-right: 0;
  max-width: 1280px;
}
body[class*="page-catalog-"] .l-region--sidebar-second {
  position: relative;
}
body[class*="page-catalog-"] .l-region--sidebar-second:before {
  content: ' ';
  position: absolute;
  height: 97%;
  width: 10px;
  background-color: #efefef;
  top: 21px;
  left: -10px;
}
body[class*="page-catalog-"] h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
body[class*="page-catalog-"] p {
  font-size: 0.875em;
  margin: 0;
}
body[class*="page-catalog-"] .l-content h1 {
  text-align: center;
}
body[class*="page-catalog-"] .p-middle {
  font-size: 1.5em;
  margin: 0;
  color: #ea4b2c;
  font-weight: bold;
  font-family: "Cuprum";
  line-height: 1;
}
body[class*="page-catalog-"] .p-big {
  font-size: 2em;
  margin: 0.5em 0 0;
  color: #ea4b2c;
  font-weight: bold;
  font-family: "Cuprum";
  line-height: 1;
}
body[class*="page-catalog-"] .p-small {
  margin: 0.5em 0;
  font-family: "Cuprum";
  line-height: 1;
}
body[class*="page-catalog-"] .p-small img {
  width: 1px;
}
body[class*="page-catalog-"] .p-small a {
  font-size: 1em;
  color: #ea4b2c;
  font-weight: bold;
}
body[class*="page-catalog-"] article > div.left {
  width: 18%;
  margin-top: 1em;
  float: left;
  vertical-align: top;
}
body[class*="page-catalog-"] article > div.left img {
  max-width: 147px;
}
body[class*="page-catalog-"] article > div.left p {
  margin-bottom: 0;
}
body[class*="page-catalog-"] article > div.left .commerce-add-to-cart {
  position: relative;
}
body[class*="page-catalog-"] article > div.left .commerce-add-to-cart input[type='submit'] {
  border: none;
  color: transparent;
  background: transparent url("../images/basket_origin.png") no-repeat;
  width: 68px;
  height: 68px;
  position: relative;
  z-index: 5;
  padding-right: 150px;
}
body[class*="page-catalog-"] article > div.left .commerce-add-to-cart:after {
  content: 'Добавить в корзину';
  word-wrap: break-word;
  /* word-break: break-all; */
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 70px;
}
body[class*="page-catalog-"] article > div.right {
  width: 82%;
  max-width: 600px;
  float: left;
  vertical-align: top;
}
body[class*="page-catalog-"] article > div.right h2 {
  margin-bottom: 0;
}
body[class*="page-catalog-"] article > div.right p:first-child {
  margin-top: 0;
}
body[class*="page-catalog-"] article div.slider {
  background-color: transparent;
}
body[class*="page-catalog-"] article div.slider .bx-viewport {
  margin-bottom: 0;
}
body[class*="page-catalog-"] article div.slider .gl-head {
  background-color: #464646;
  padding: 1em;
}
body[class*="page-catalog-"] article div.slider .gl-head * {
  color: white;
}
body[class*="page-catalog-"] article div.slider .gl-head h3 {
  float: left;
  margin: 0;
  font-weight: normal;
}
body[class*="page-catalog-"] article div.slider .gl-head a {
  float: right;
  outline: none;
  text-decoration: none;
  /*&:hover {}*/
}
body[class*="page-catalog-"] article .slider-viewport {
  margin-top: 13px;
}
body[class*="page-catalog-"] article > .hr-line {
  background: url("../images/hr_bottom.png") repeat-x 0 50%;
  height: 4em;
}
body[class*="page-catalog-"] article .route .cat-head {
  background-color: #464646;
  padding: 1em;
  color: white;
}
body[class*="page-catalog-"] article .route .cat-head h3 {
  margin: 0;
  font-weight: normal;
}
body[class*="page-catalog-"] article .route h5 {
  margin: 0;
  padding: 1em;
  text-indent: 1em;
}
body[class*="page-catalog-"] article .route h5:nth-child(2n) {
  background-color: #efefef;
}
body[class*="page-catalog-"] article .route h5:nth-child(2n):hover {
  background-color: #f4f4f4;
}
body[class*="page-catalog-"] article .route h5:nth-child(2n-1):hover {
  background-color: #fafafa;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content {
  background-color: #efefef;
  padding-right: 10px;
  padding-top: 10px;
  min-height: 634px;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content div {
  vertical-align: middle;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content > div {
  margin-left: 8%;
  background: url("../images/hr_bottom.png") repeat-x 0 100%;
  height: 1em;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content > div:last-child {
  background: none;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section {
  margin: 1.25em 0;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section div.img {
  display: table-cell;
  width: 39%;
  padding-right: 1em;
  text-align: right;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section div.img img {
  width: 100%;
  height: auto;
  max-width: 130px;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section div.text {
  display: table-cell;
  width: 60%;
  text-align: left;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section div.text h3 {
  margin: 0 0 0.3em;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section div.text h4 {
  margin: 0 0 0.5em;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section div.text .field--text {
  font-size: 0.875em;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section div.text .field--text * {
  font-weight: 500;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section .p-middle, body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section .add-to-cart {
  display: inline-block;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section .buy {
  width: 200px;
  margin: 10px 0 0 29px;
}
body[class*="page-catalog-"] .view-display-id-catalog_block .view-content section:first-child {
  margin-top: 0;
}

/* ===============
    Block custom
    ============= */
div.slider {
  background-color: #363636;
}
div.slider .field--image, div.slider li {
  max-width: 230px;
}
div.slider .field--image img, div.slider li img {
  /*max-width: 225px;*/
  min-height: 150px;
  max-height: 150px;
  height: auto;
}

.breadcrumb {
  list-style: none;
  list-style-image: none;
  text-transform: capitalize;
  background-color: #fc9c4a;
  color: white;
}
.breadcrumb a {
  color: #B83434;
}
.breadcrumb li {
  display: inline;
}

.bread-right {
  padding-left: 5px;
  background-color: #363636;
  color: white;
  position: relative;
}
.bread-right:before {
  content: ' ';
  position: absolute;
  height: 1.4em;
  width: 10px;
  background-color: #363636;
  top: 0px;
  left: -10px;
}

.bread-left {
  padding-left: 5px;
  background-color: #fc9c4a;
  position: relative;
}
.bread-left a {
  color: white;
}
.bread-left:after {
  content: ' ';
  position: absolute;
  height: 1.4em;
  width: 10px;
  background-color: #fc9c4a;
  top: 0px;
  right: -10px;
}

.pager-container .item-count {
  display: none;
  float: left;
}
.pager-container .item-list {
  float: right;
}
.pager-container ul.pager {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none;
  border: none;
  border-radius: 0;
}
.pager-container ul.pager li {
  float: none;
}
.pager-container ul.pager li a {
  color: #268EFE;
}
.pager-container ul.pager li.pager-current.last, .pager-container ul.pager li .pager-current.last a, .pager-container ul.pager li .pager-current.last a:hover {
  border-radius: 0 5px 5px 0;
}
.pager-container ul.pager li.pager-next {
  position: static;
}
.pager-container ul.pager li.pager-next a {
  width: auto;
  padding: 4px 8px;
  background: none;
}
.pager-container ul.pager li.pager-next.last {
  position: static;
}
.pager-container ul.pager li.pager-previous a {
  width: auto;
  padding: 4px 8px;
  background: none;
}
.pager-container ul.pager li.pager-last {
  position: static;
}
.pager-container ul.pager li.pager-last a {
  width: auto;
  padding: 4px 8px;
}
.pager-container ul.pager li.pager-first a {
  width: auto;
  padding: 4px 8px;
}

.commerce-add-to-cart input[type='submit'] {
  border: none;
  color: transparent;
  background: transparent url("../images/basket_mini.png") no-repeat;
  width: 41px;
  height: 48px;
}

/* ===============
    Querys
    ============= */
@media only screen and (min-width: 768px) {
  .head nav {
    width: 90%;
    margin: 0 5%;
  }
  .head nav a {
    font-size: 1.125em;
  }
}
@media only screen and (min-width: 1140px) {
  .popular-container .popular div.content article section.five-element {
    display: table-cell;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
