/* ======================================
        Font Load
        ====================================*/

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI');
    src: url('font/segoeui.eot');
    src: url('font/segoeui.eot') format('embedded-opentype'), url('font/segoeui.woff') format('woff'), url('font/segoeui.ttf') format('truetype'), url('font/segoeui.svg#SegoeUIRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: local('Segoe UI Semibold');
    src: url('font/seguisb.eot');
    src: url('font/seguisb.eot') format('embedded-opentype'), url('font/seguisb.woff') format('woff'), url('font/seguisb.ttf') format('truetype'), url('font/seguisb.svg#SegoeUIRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/*html {
    overflow-x: hidden;
}*/
/*html * {zoom: 1;}*/

body {
    font: 1em/1.625em 'Segoe UI', sans-serif;
    font-weight: normal;
}

/*.wrapper {
    width: 58.22916666666667%;
    margin: 0 20.88541666666667%;
    max-width: 1280px;
} */
.west-side, .east-side {
    /*display:table-cell;*/
    float: left;
    width: 2%;
    position: relative;
}
.east-side [class|='br'], .west-side [class|='br'] {
    position: relative;
    width: 100%;
    /*color: #fff;
    background: #785;
    left: 50px;*/
}
.east-side .br-up, .west-side .br-up {
     top: 0;
 }
.east-side .br-down, .west-side .br-down {
    top: 100%;
}


.west-side svg, .east-side svg {
    height: 100%;
    width: 100%;
    fill:#fff;
    stroke:#fff;
    stroke-width: 2px;
}

.central-area {
    /*display:table-cell;*/
    float: left;
    width: 96%;
    position: relative;
}

.root-container {
    position: relative;
    /*display: table-row;*/
}

/*.img-border {
    position: relative;
    z-index: 150;
    padding: 0;
    height: 100%;
    line-height: 0;
}
.img-border img {
    width: 100%;
    padding: 0;
    height: 100%;
    vertical-align: 0;
} */

/* ===================
    ALL: Orange Theme
   =================== */
.west-side {
    background: #580068;
    background: -moz-linear-gradient(right, #500060, #210027);
    background: -webkit-gradient(linear, right top, left top, color-stop(0%, #500060), color-stop(100%, #210027));
    background: -webkit-linear-gradient(right, #500060, #210027);
    background: -o-linear-gradient(right, #500060, #210027);
    background: -ms-linear-gradient(right, #500060, #210027);
    background: linear-gradient(right, #500060, #210027);
}

.east-side {
    background: #580068;
    background: -moz-linear-gradient(left, #500060, #210027);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #500060), color-stop(100%, #210027));
    background: -webkit-linear-gradient(left, #500060, #210027);
    background: -o-linear-gradient(left, #500060, #210027);
    background: -ms-linear-gradient(left, #500060, #210027);
    background: linear-gradient(left, #500060, #210027);
}

nav {
    /*border-bottom: 1px solid #ddf;*/
    font-family: 'Segoe UI Semibold';
    /*height: 100%;*/
    -webkit-box-shadow: 0 5px 10px -6px #92278f;
    -moz-box-shadow: 0 5px -10px #92278f;
    box-shadow: 0 10px 10px -6px #92278f;
    border-bottom: 1px ridge #580068;
}

.head {
    position: relative;
}

.main {
    background-color: #580068;
    min-height: 302px;
    position: relative;
}

.main * {
    color: #efcfff;
}

/*.head:before {
    content: '' !important;
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 295px 0 0 600px;
    border-color: #fff #fff transparent transparent;
    position: absolute;
    right: 100%;
    top: 0;
}*/

/*.main:before {
    content: '' !important;
    line-height: 0;
    font-size: 0;
    width: 0px;
    height: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 295px 600px;
    border-color: transparent #fff #fff transparent;
    position: absolute;
    right: 100%;
    top: 100%;
}*/

/* {
    border-top-width: 395px;
} */

/*.head:after {
    content: '' !important;
    line-height: 0;
    font-size: 0;
    width: 0px;
    height: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 295px 600px 0px 0px;
    border-color: #fff transparent transparent #fff;
    position: absolute;
    left: 100%;
    top: 0;
}*/

/*.main:after {
    content: '' !important;
    line-height: 0;
    font-size: 0;
    width: 0px;
    height: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 0 600px 295px 0;
    border-color: transparent transparent #fff #fff;
    position: absolute;
    left: 100%;
    top: 100%;
}*/

/*<!--[if IE]>
.main:after, .main:before {
    top: 0;
}
<![endif]-->
*/
.title {
    color: white;
}

.allend * {
    color: #440e62;
}

/* ==============
    MOBILE: Menu
   ============== */

nav a {
    /*display: inline-block;*/
    /*margin-bottom: 10px;
    padding: 15px 0;      */
    float: left;
    /*width: 20%;*/
    /*width: 19.59%;*/
    /*width: 16.77969794736307%;*/
    width: 17.5%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1d1d;
    /*height: 22.037037037037045%;*/
}

nav a:nth-child(3) {
    width: 30%;
}

nav a:nth-child(3) img {
    width: 100%;
    height: auto;
}

nav a:hover {
    color: #2d2d2d;
    background-color: #580068;
}
nav a:visited {
    /*color: #2d2d2d;*/
    /*background-color: transparent;*/
}

nav a:nth-child(3):hover,
nav a:nth-child(3):visited {
    color: #2d2d2d;
    background-color: transparent;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}

/* ==============
    MOBILE: Title
   ============== */
.head h1 a {
    text-decoration: none;
}

.head h1 a:hover,
.head h1 a:visited {
    text-decoration: none;
}

.head h1 a:hover {
    text-decoration: underline;
    outline-color: #000066;
}

.head h1 {
    float: left;
    margin-bottom: 0.5em;
}

.head a.simplelink {
    float: right;
}

.head a.simplelink:before {
    content: '......';
    color: transparent;
    background: url('../img/phone.png') no-repeat 0 50%;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}
.allend {
    padding: 1em 0.75em;
}

.main article h1 {
    font-size: 2em;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI Semibold';
    text-transform: uppercase;
    color: #111111;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
   h1, h2, h3, h4, h5, h6 {
       font-weight: 600 !important;
   }
}*/
.tcolor {
    color: #f26522;
}

.mcolor {
    color: #92278f;
}

a.simplelink {
    color: #2d2d2d;
    text-decoration: none;
}

a.simplelink:hover {
    text-decoration: underline;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    .west-side, .east-side {
        width: 5%;
    }

    .central-area {
        width: 90%;
    }

    .main {
        padding: 1em 0.75em;
    }

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav {
        font-size: 0.8em;
    }

    .head h1 {
        font-size: 1.7em;
    }

    nav a:not(:nth-child(3)) {
        /*float: left;
        width: 27%;
        margin: 0 1.7%;*/
        padding-top: 10%;
        padding-bottom: 3.5%;
        margin-bottom: 0;
    }

    nav a:nth-child(3) {
        padding-top: 6.5%;
    }

    nav a:first-child {
        margin-left: 0;
    }

    nav a:last-child {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    .oldie nav a {
        /* margin: 0 0.7%;*/
    }
}

@media only screen and (min-width: 768px) {
    .west-side, .east-side {
        width: 20.88541666666667%;
    }

    .central-area {
        width: 58.22916666666667%;
    }

    /* ====================
        WIDE: CSS3 Effects
       ==================== */


    /* ============
        WIDE: Menu
       ============ */


    nav {
        font-size: 1em;
    }

    .head h1 {
        font-size: 2em;
    }

    nav a:not(:nth-child(3)) {
        padding-bottom: 4.5%;
        padding-top: 15%;
    }

    nav a:nth-child(3) {
        padding-top: 10.875%;
    }

    /* ============
        WIDE: Main
       ============ */

    .main article {
        /*float: left;
        width: 57%;*/
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    /*nav a {
        max-height: 238px;
    }*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
