.main>div {
    float: left;
    width: 38%;
    max-width: 300px;
    text-align: left;
    /*padding-right: 1em;*/
    /*display: table-cell;*/
    height: 100%;
}

.main>div>div {
    background: #800098;
    height: 30%;
    max-height: 200px;
    /*padding: 30% 0;*/
}
.main>div>div:not(:last-child) {
    margin-bottom: 1.5%;
}
.main>div>div:hover {
    cursor: pointer;
}
.main .hovered {
    background: #9900ad;
    /*box-shadow: 0 0 15px 3px #9900ad;*/
}
.main>div>div>div {
    height: 100%;
    width: 20%;
    display: inline-block;
    margin: 3%;
}
.main>div>div img {
    width: 100%;
    height: auto;
    max-height: 90px;
    max-width: 100px !important;
}
.main>div h3 {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
}



.main article {
    float: right;
    width: 60%;
    text-align: left;
    vertical-align: middle;
    /*display: table-cell;*/
}
.main article h3 {text-align: center;}
.main article>section {
    display: table-cell;
}

/**********
****
**************/

.allend{margin-bottom: 1em;}

.allend h2 a {
    text-decoration: none;
}

.allend h2 a:hover,
.allend h2 a:visited {
    text-decoration: none;
}

.allend h2 a:hover {
    text-decoration: underline;
    outline-color: #000066;
}

.allend>article {
    width: 100%;
    /*text-align: left;*/
}
.allend>article>div {}
.allend>article>div:not(:last-child) {
    margin-bottom: 1.5%;
}
.allend>article .img-cont {
    height: 100%;
    width: 30%;
    margin: 1.5%;
}
.allend>article .img-cont>img {
    width: 100%;
    height: auto;
    max-height: 350px;
    max-width: 300px !important;
}

.allend>article .text-cont {
    width: 60%;
    vertical-align: middle;
    position: relative;
    padding: 0 0.3em;
    /*display: table-cell;*/
}
.allend>article .text-cont h4{
    margin-bottom: 0;
}

.allend>article>div:nth-child(2n-1) .img-cont {float: right;margin-left:0.1em;}
.allend>article>div:nth-child(2n-1) .text-cont {float: left; margin-left:1em;}
.allend>article>div:nth-child(2n) .img-cont {float: left;margin-right:0.1em;}
.allend>article>div:nth-child(2n) .text-cont {float: right; margin-right:1.5em;}

.allend>article .text-cont:before {
    content: "«";
    font-size: 3.5em;
    position: absolute;
    color: #800098;
    right: 100%;
}
.allend>article .text-cont:after {
    content: "»";
    font-size: 3.5em;
    position: absolute;
    color: #800098;
    top: 80%;
    left: 100%;
}

.allend.scroll {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ==========================================================================
   Mobile
   ========================================================================== */

/**************
*******Font Fixes***
*************/
    .main>div h3 {
        font-size: 0.819em;
    }
    .allend article h2 {
        font-size: 1.4em
    }

/* ==============
MOBILE: Main
============== */
.main>div {width: 38%;}
.main article {width: 60%;}

.allend>article .img-cont {width: 13%; margin-top: 1em;}
.allend>article .text-cont {width: 73%;}
.allend>article .img-cont img {margin-top: 20%;}

.allend>article .text-cont:before,
.allend>article .text-cont:after   {font-size: 2em;}
.allend>article .text-cont:before {top: 10%;}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/*@media only screen and (max-width: 530px) {
}*/

@media only screen and (min-width: 480px) {

    .main>div {width: 38%;}
    .main article {width: 60%;}

    .allend>article .img-cont img {margin-top: 0}

    .allend>article .text-cont:before,
    .allend>article .text-cont:after   {font-size: 2.5em;}

    /**************
*******Font Fixes***
*************/
    .main>div h3 {
        font-size: 0.936em;
    }
    .allend article h2 {
        font-size: 1.5em
    }
}

@media only screen and (min-width: 530px) {
    .main>div {width: 34%;}
    .main article {width: 64%;}

    .allend>article .img-cont {width: 25%;}
    .allend>article .text-cont {width: 65%;}
    .allend>article .text-cont:before {top: 20%;}
}

@media only screen and (min-width: 768px) {

    .main>div {width: 30%;}
    .main article {width: 68%;}

    .allend>article .img-cont {width: 29%;}
    .allend>article .text-cont {width: 59%;}

    .allend>article .text-cont:before,
    .allend>article .text-cont:after   {font-size: 3.5em;}
    .allend>article .text-cont:before {top: 5%;}

    /**************
    *******Font Fixes***
    *************/

}

/*@media only screen and (min-width: 870px) {
}*/

@media only screen and (min-width: 1140px) {

    .allend>article .img-cont {width: 29%;}
    .allend>article .text-cont {width: 60%;}

    /*************
        *****Font Fixes****
        ******************/
    .main>div h3 {
        font-size: 1.17em;
    }
}