/*****************************/
/****** Property of WDB ******/
/*****************************/
body {
	margin: 0px;
	background-color: #303030;
	font-size: 12px;
	line-height: 1.6;
	color: #464646;
}
/*********** Links ***********/
#wdb_topcenter a:link,
#wdb_topcenter a:visited,
#wdb_topright a:link,
#wdb_topright a:visited,
#wdb_topmenu a:link,
#wdb_topmenu a:visited {
	color: #FFFFFF;
}
#wdb_topcenter .menu li,
#wdb_topmenu .menu li {
	float: left;
	display: inline;
	margin-right: 15px;
}
#wdb_topright .menu li {
	float: left;
	display: inline;
	margin-left: 15px;
}
#wdb_topcenter .menu li li,
#wdb_topright .menu li li,
#wdb_header .menu li li,
#wdb_topmenu .menu li li {
	display: none;
}
#wdb_adscorner a:link,
#wdb_adscorner a:visited,
#wdb_header a:link,
#wdb_header a:visited {
	color: #FFFFFF;
}
#wdb_header a:hover,
#wdb_topmenu a:hover {
	color: #FF0000;
}
#wdb_header .menu li {
	float: left;
	display: inline;
	margin: 10px 0px 0px 15px;
}
.wdb_footer a:link,
.wdb_footer a:visited,
#wdb_center-right-only a:link,
#wdb_center-left-only a:link,
#wdb_center-left-right a:link,
#wdb_center-wide a:link,
#wdb_center-right-only a:visited,
#wdb_center-left-only a:visited,
#wdb_center-left-right a:visited,
#wdb_center-wide a:visited {
	color: #464646;
}
#wdb_design a:link,
#wdb_design a:visited,
#wdb_right-left-right a:link,
#wdb_right-left-right a:visited,
#wdb_left-left-right a:link,
#wdb_left-left-right a:visited,
#wdb_left-left-only a:link,
#wdb_left-left-only a:visited,
#wdb_right-right-only a:link,
#wdb_right-right-only a:visited {
	color: #FFFFFF;
}
#wdb_right-left-right .moduletable .menu li a:link,
#wdb_right-left-right .moduletable .menu li a:visited,
#wdb_left-left-right .moduletable .menu li a:link,
#wdb_left-left-right .moduletable .menu li a:visited,
#wdb_left-left-only .moduletable .menu li a:link,
#wdb_left-left-only .moduletable .menu li a:visited,
#wdb_right-right-only .moduletable .menu li a:link,
#wdb_right-right-only .moduletable .menu li a:visited {
	padding: 1px 10px 1px 25px;
	background-image: url(../images/dark/simple_menu.jpg);
	background-position: left center;
	display: block;
	background-repeat: no-repeat;
}
#wdb_right-left-right .moduletable .menu li a:hover,
#wdb_left-left-right .moduletable .menu li a:hover,
#wdb_left-left-only .moduletable .menu li a:hover,
#wdb_right-right-only .moduletable .menu li a:hover {
	background-image: url(../images/dark/simple_menu_hover.jpg);
}
/*********** Blogs ***********/
.item-page h1,
.contact h1,
.blog h1,
.blog-featured h1,
.componentheading {
	border-bottom: 1px dotted #c0c0c0;
	padding-bottom: 5px;
}
#wdb_adscorner p,
#wdb_topmenu p,
#wdb_topcenter p,
#wdb_topright p,
#wdb_header p {
	margin: 0px;
}
/*********** input ***********/
#wdb_search input {
	margin-top: 8px;
}
#wdb_search .inputbox {
	border: 2px solid #919191;
}
input.button {
	border: 1px solid #4a4a4a;
	padding: 3px 5px 2px 5px;
	background-image: url(../images/dark/button.jpg);
	background-position: center;
	color: #FFFFFF;
}
.search input.button {
	margin-left: 5px;
}
.pagenav {
	margin: 0px 2px 0px 2px;
}
/******** Moduletable ********/
#wdb_right-left-right .moduletable,
#wdb_right-left-right .moduletable_menu,
#wdb_left-left-right .moduletable,
#wdb_left-left-right .moduletable_menu,
#wdb_left-left-only .moduletable,
#wdb_left-left-only .moduletable_menu,
#wdb_right-right-only .moduletable,
#wdb_right-right-only .moduletable_menu {
	padding: 10px;
	border-top: 1px solid #1B1B1B;
}
#wdb_right-right-only h3,
#wdb_left-left-only h3,
#wdb_left-left-right h3,
#wdb_right-left-right h3 {
	padding: 10px 0px 10px 0px;
	margin-top: -10px;
}
/*********** Blogs ***********/
#wdb_content-left-only .cols-4 .column-1,
#wdb_content-right-only .cols-4 .column-1 {
	width: 161px;
	float: left;
}
#wdb_content-left-only .cols-4 .column-2,
#wdb_content-right-only .cols-4 .column-2 {
	width: 161px;
	float: left;
	margin-left: 10px;
}
#wdb_content-left-only .cols-4 .column-3,
#wdb_content-right-only .cols-4 .column-3 {
	width: 161px;
	float: left;
	margin-left: 10px;
}
#wdb_content-left-only .cols-4 .column-4,
#wdb_content-right-only .cols-4 .column-4 {
	width: 161px;
	float: right;
}
#wdb_content-left-only .cols-3 .column-1,
#wdb_content-right-only .cols-3 .column-1 {
	width: 218px;
	float: left;
}
#wdb_content-left-only .cols-3 .column-2,
#wdb_content-right-only .cols-3 .column-2 {
	width: 218px;
	float: left;
	margin-left: 10px;
}
#wdb_content-left-only .cols-3 .column-3,
#wdb_content-right-only .cols-3 .column-3 {
	width: 218px;
	float: right;
}
#wdb_content-left-only .cols-2 .column-1,
#wdb_content-right-only .cols-2 .column-1 {
	width: 332px;
	float: left;
}
#wdb_content-left-only .cols-2 .column-2,
#wdb_content-right-only .cols-2 .column-2 {
	width: 332px;
	float: right;
}
#wdb_content-left-only .cols-1 .column-1,
#wdb_content-right-only .cols-1 .column-1 {
	width: 675px;
	float: left;
}
#wdb_content-left-right .cols-3 .column-1 {
	width: 160px;
	float: left;
}
#wdb_content-left-right .cols-3 .column-2 {
	width: 160px;
	float: left;
	margin-left: 10px;
}
#wdb_content-left-right .cols-3 .column-3 {
	width: 160px;
	float: right;
}
#wdb_content-left-right .cols-2 .column-1 {
	width: 245px;
	float: left;
}
#wdb_content-left-right .cols-2 .column-2 {
	width: 245px;
	float: right;
}
#wdb_content-left-right .cols-1 .column-1 {
	width: 500px;
	float: left;
}

#wdb_content-wide .cols-6 .column-1 {
	width: 150px;
	float: left;
}
#wdb_content-wide .cols-6 .column-2 {
	width: 150px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-6 .column-3 {
	width: 150px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-6 .column-4 {
	width: 150px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-6 .column-5 {
	width: 150px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-6 .column-6 {
	width: 150px;
	float: right;
}
#wdb_content-wide .cols-5 .column-1 {
	width: 182px;
	float: left;
}
#wdb_content-wide .cols-5 .column-2 {
	width: 182px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-5 .column-3 {
	width: 182px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-5 .column-4 {
	width: 182px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-5 .column-5 {
	width: 182px;
	float: right;
}
#wdb_content-wide .cols-4 .column-1 {
	width: 230px;
	float: left;
}
#wdb_content-wide .cols-4 .column-2 {
	width: 230px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-4 .column-3 {
	width: 230px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-4 .column-4 {
	width: 230px;
	float: right;
}
#wdb_content-wide .cols-3 .column-1 {
	width: 310px;
	float: left;
}
#wdb_content-wide .cols-3 .column-2 {
	width: 310px;
	float: left;
	margin-left: 10px;
}
#wdb_content-wide .cols-3 .column-3 {
	width: 310px;
	float: right;
}
#wdb_content-wide .cols-2 .column-1 {
	width: 470px;
	float: left;
}
#wdb_content-wide .cols-2 .column-2 {
	width: 470px;
	float: right;
}
#wdb_content-wide .cols-1 .column-1 {
	width: 950px;
	float: left;
}
#wdb_content-left-only .cols-4 .column-1,
#wdb_content-right-only .cols-4 .column-1,
#wdb_content-left-only .cols-4 .column-2,
#wdb_content-right-only .cols-4 .column-2,
#wdb_content-left-only .cols-4 .column-3,
#wdb_content-right-only .cols-4 .column-3,
#wdb_content-left-only .cols-4 .column-4,
#wdb_content-right-only .cols-4 .column-4,
#wdb_content-left-only .cols-3 .column-1,
#wdb_content-right-only .cols-3 .column-1,
#wdb_content-left-only .cols-3 .column-2,
#wdb_content-right-only .cols-3 .column-2,
#wdb_content-left-only .cols-3 .column-3,
#wdb_content-right-only .cols-3 .column-3,
#wdb_content-left-only .cols-2 .column-1,
#wdb_content-right-only .cols-2 .column-1,
#wdb_content-left-only .cols-2 .column-2,
#wdb_content-right-only .cols-2 .column-2,
#wdb_content-left-only .cols-1 .column-1,
#wdb_content-right-only .cols-1 .column-1,
#wdb_content-left-right .cols-3 .column-1,
#wdb_content-left-right .cols-3 .column-2,
#wdb_content-left-right .cols-3 .column-3,
#wdb_content-left-right .cols-2 .column-1,
#wdb_content-left-right .cols-2 .column-2,
#wdb_content-left-right .cols-1 .column-1,
#wdb_content-wide .cols-6 .column-1,
#wdb_content-wide .cols-6 .column-2,
#wdb_content-wide .cols-6 .column-3,
#wdb_content-wide .cols-6 .column-4,
#wdb_content-wide .cols-6 .column-5,
#wdb_content-wide .cols-6 .column-6,
#wdb_content-wide .cols-5 .column-1,
#wdb_content-wide .cols-5 .column-2,
#wdb_content-wide .cols-5 .column-3,
#wdb_content-wide .cols-5 .column-4,
#wdb_content-wide .cols-5 .column-5,
#wdb_content-wide .cols-4 .column-1,
#wdb_content-wide .cols-4 .column-2,
#wdb_content-wide .cols-4 .column-3,
#wdb_content-wide .cols-4 .column-4,
#wdb_content-wide .cols-3 .column-1,
#wdb_content-wide .cols-3 .column-2,
#wdb_content-wide .cols-3 .column-3,
#wdb_content-wide .cols-2 .column-1,
#wdb_content-wide .cols-2 .column-2,
#wdb_content-wide .cols-1 .column-1 {
	overflow: hidden;
}