/*****************************/
/****** Property of WDB ******/
/*****************************/
img.jshop_img_thumb {
	width: 99px;
}
.name {
	font-size: 13px;
	font-weight: bold;
}
.jshop hr {
	display: none;
}
#maxx_copyright {
	display: none;
}
#wdb_header #jshop_module_cart {
	margin-top: 10px;
}
/*****************************/
/****** Property of WDB ******/
/*****************************/
#style1 #wdb_sponsor-structure a:link,
#style1 #wdb_sponsor-structure a:visited,
#style1 #wdb_sponsor-structure {
	color: #FFFFFF;
}
#style2 #wdb_sponsor-structure a:link,
#style2 #wdb_sponsor-structure a:visited,
#style2 #wdb_sponsor-structure {
	color: #464646;
}
#style3 #wdb_sponsor-structure a:link,
#style3 #wdb_sponsor-structure a:visited,
#style3 #wdb_sponsor-structure {
	color: #464646;
}
#style4 #wdb_sponsor-structure a:link,
#style4 #wdb_sponsor-structure a:visited,
#style4 #wdb_sponsor-structure {
	color: #FFFFFF;
}
#style5 #wdb_sponsor-structure a:link,
#style5 #wdb_sponsor-structure a:visited,
#style5 #wdb_sponsor-structure {
	color: #464646;
}
#style6 #wdb_sponsor-structure a:link,
#style6 #wdb_sponsor-structure a:visited,
#style6 #wdb_sponsor-structure {
	color: #464646;
}
#style7 #wdb_sponsor-structure a:link,
#style7 #wdb_sponsor-structure a:visited,
#style7 #wdb_sponsor-structure {
	color: #464646;
}
#style8 #wdb_sponsor-structure a:link,
#style8 #wdb_sponsor-structure a:visited,
#style8 #wdb_sponsor-structure {
	color: #FFFFFF;
}
#style9 #wdb_sponsor-structure a:link,
#style9 #wdb_sponsor-structure a:visited,
#style9 #wdb_sponsor-structure {
	color: #FFFFFF;
}
#style10 #wdb_sponsor-structure a:link,
#style10 #wdb_sponsor-structure a:visited,
#style10 #wdb_sponsor-structure {
	color: #464646;
}
#style11 #wdb_sponsor-structure a:link,
#style11 #wdb_sponsor-structure a:visited,
#style11 #wdb_sponsor-structure {
	color: #464646;
}
#style12 #wdb_sponsor-structure a:link,
#style12 #wdb_sponsor-structure a:visited,
#style12 #wdb_sponsor-structure {
	color: #FFFFFF;
}