/*****************************/
/****** Property of WDB ******/
/*****************************/
ul, li, .menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	border: none;
	padding: 0;
	margin: 0;
}
.inputbox {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
}
input.button {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 12px;
}
.readmore, .readon {
	float: right;
}
div, td, tr, th, input, form {
	padding: 0;
	margin: 0;
}
a:link, a:visited {
	text-decoration: none;
}
.clr {
	clear: both;
}
/*********** Blog ************/
h1, h2, h3, h4, h5 {
	margin: 0px;
}
.item-page h1,
.contact h1,
.blog h1,
.blog-featured h1,
.componentheading {
	font-size: 15px;
	letter-spacing: 3px;
	margin-bottom: 10px;
	font-weight: bold;
}
.item-page h2,
.contact h2,
.blog h2,
.blog-featured h2,
.contentheading {
	font-size: 13px;
	letter-spacing: 1px;
}
table.contentpaneopen {
	width: 100%;
}
.article_separator {
	height: 0px;
	display: block;
	clear: both;
}
.blog .article_separator {
	height: 10px;
	display: block;
	clear: both;
}
.blog .article_column {
	padding-right: 0px;
}
.blog .column_separator {
	padding-right: 0px;
	padding-left: 10px;
}
.item-separator {
	height: 10px;
	display: block;
	clear: both;
}
.moduletable p,
.blog-featured p,
.blog p {
	margin: 0px;
}
.pagenav {
	position: relative;
}
.pagenavbar {
	text-align: center;
}
.moduletable_menu h3,
.moduletable h3 {
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
}
.category-desc {
	border-bottom: 1px dotted #dadada;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
dl.article-info dd {
	padding: 0;
	margin: 0;
}
/********** Pagenav **********/
.pagination {
	text-align: center;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.pagination li {
	display: inline;
}
ul.pagenav {
	text-align: center;
	border: none;
	padding: 0px;
	margin: 0px;
	background-image: none;
}
.pagenav .pagenav-prev {
	float: left;
	position: relative;
	margin-bottom: 10px;
}
.pagenav .pagenav-next {
	position: relative;
	float: right;
	margin-bottom: 10px;
}
.pagenav a {
	text-decoration: none;
}
p.counter {
	padding-bottom: 5px;
}
ul.actions {
	float: right;
}
.actions li {
	float: left;
}
/********** Search ***********/
form#searchForm div {
	width: 100%;
}
.contentpaneopen fieldset {
	border: 1px solid #dfdfdf;
	margin-bottom: 5px;
	padding: 3px 5px 3px 5px;
}
.highlight {
	background-color: #d2e4ff;
	font-weight: bold;
	letter-spacing: 1px;
}
#wdb_search .search label,
.moduletable .search label {
	display: none;
}
.search .form-limit {
	text-align: center;
	margin-top: 5px;
}
.result-created,
.result-category,
.result-text {
	padding: 0;
	margin: 0;
}
.result-created {
	margin-bottom: 10px;
}
/*********** Login ***********/
fieldset.input {
	border: none;
	padding: 0px;
	margin: 0px;
}
.moduletable form p {
	margin: 0px 0px 10px 0px;
}
#form-login ul {
	margin-top: 5px;
}
form.form-validate {
	margin-bottom: 10px;
}
fieldset label.required {
	display: block;
}
fieldset.userdata {
	border: none;
	padding: 0px;
	margin: 0px;
}
.userdata #modlgn-username,
.userdata #modlgn-passwd {
	display: block;
}
/******* Contact Form ********/
.contact-form .inputbox {
	display: block;
}
.contact h2 {
	display: none;
}
.contact span {
	font-size: 12px;
	letter-spacing: 1px;
}
/*********** Poll ************/
.poll td, .poll div {
	text-align: left;
}
.poll label {
	margin-left: 10px;
}
.poll .pollstableborder {
	margin: 5px 0px 0px 0px;
}
#poll .sectiontableheader {
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	padding: 5px 0px 5px 0px;
	text-align: left;
}
.poll .sectiontableentry2,
.poll .sectiontableentry1 {
	padding-bottom: 2px;
}
#poll .sectiontableheader img {
	display: none;
}
#poll .sectiontableentry1,
#poll .sectiontableentry0 {
	width: 100%;
	float: left;
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid #c0c0c0;
}
#poll .smalldark {
	padding-bottom: 10px;
}