/*****************************/
/****** Property of WDB ******/
/*****************************/
.banner33 .first {
	width: 310px;
	float: left;
	padding-bottom: 10px;
}
.banner33 .second {
	width: 310px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}
.banner33 .third {
	width: 310px;
	float: right;
	padding-bottom: 10px;
}
.banner49 .first {
	width: 470px;
	float: left;
	padding-bottom: 10px;
}
.banner49 .second {
	width: 470px;
	float: right;
	padding-bottom: 10px;
}
.banner99 .full {
	width: 950px;
	float: left;
	padding-bottom: 10px;
}
/*****************************/
/****** Property of WDB ******/
/*****************************/
#wdb_user-left-only .user33 .first,
#wdb_user-right-only .user33 .first {
	width: 217px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-left-only .user33 .second,
#wdb_user-right-only .user33 .second {
	width: 217px;
	float: left;
	margin-left: 12px;
	padding-bottom: 10px;
}
#wdb_user-left-only .user33 .third,
#wdb_user-right-only .user33 .third {
	width: 217px;
	float: right;
	padding-bottom: 10px;
}
#wdb_user-left-only .user49 .first,
#wdb_user-right-only .user49 .first {
	width: 332px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-left-only .user49 .second,
#wdb_user-right-only .user49 .second {
	width: 332px;
	float: right;
	padding-bottom: 10px;
}
#wdb_user-left-only .user99 .full,
#wdb_user-right-only .user99 .full {
	width: 675px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-left-right .user33 .first {
	width: 160px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-left-right .user33 .second {
	width: 160px;
	float: left;
	padding-bottom: 10px;
	margin-left: 10px;
}
#wdb_user-left-right .user33 .third {
	width: 160px;
	float: right;
	padding-bottom: 10px;
}
#wdb_user-left-right .user49 .first {
	width: 245px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-left-right .user49 .second {
	width: 245px;
	float: right;
	padding-bottom: 10px;
}
#wdb_user-left-right .user99 .full {
	width: 500px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-wide .user33 .first {
	width: 310px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-wide .user33 .second {
	width: 310px;
	float: left;
	padding-bottom: 10px;
	margin-left: 10px;
}
#wdb_user-wide .user33 .third {
	width: 310px;
	float: right;
	padding-bottom: 10px;
}
#wdb_user-wide .user49 .first {
	width: 470px;
	float: left;
	padding-bottom: 10px;
}
#wdb_user-wide .user49 .second {
	width: 470px;
	float: right;
	padding-bottom: 10px;
}
#wdb_user-wide .user99 .full {
	width: 950px;
	float: left;
	padding-bottom: 10px;
}
/*****************************/
/****** Property of WDB ******/
/*****************************/
.footer19 .first {
	width: 182px;
	float: left;
	padding-bottom: 10px;
}
.footer19 .second {
	width: 182px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}
.footer19 .third {
	width: 182px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}
.footer19 .forth {
	width: 182px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}
.footer19 .fifth {
	width: 182px;
	float: right;
	padding-bottom: 10px;
}
.footer24 .first {
	width: 230px;
	float: left;
	padding-bottom: 10px;
}
.footer24 .second {
	width: 230px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}
.footer24 .third {
	width: 230px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}
.footer24 .forth {
	width: 230px;
	float: right;
	padding-bottom: 10px;
}
.footer33 .first {
	width: 310px;
	float: left;
	padding-bottom: 10px;
}
.footer33 .second {
	width: 310px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}
.footer33 .third {
	width: 310px;
	float: right;
	padding-bottom: 10px;
}
.footer49 .first {
	width: 470px;
	float: left;
	padding-bottom: 10px;
}
.footer49 .second {
	width: 470px;
	float: right;
	padding-bottom: 10px;
}
.footer99 .full {
	width: 950px;
	float: left;
	padding-bottom: 10px;
}
/*****************************/
/****** Property of WDB ******/
/*****************************/
.banner33 .first,
.banner33 .second,
.banner33 .third,
.banner49 .first,
.banner49 .second,
.banner99 .full,
#wdb_user-left-only .user33 .first,
#wdb_user-right-only .user33 .first,
#wdb_user-left-only .user33 .second,
#wdb_user-right-only .user33 .second,
#wdb_user-left-only .user33 .third,
#wdb_user-right-only .user33 .third,
#wdb_user-left-only .user49 .first,
#wdb_user-right-only .user49 .first,
#wdb_user-left-only .user49 .second,
#wdb_user-right-only .user49 .second,
#wdb_user-left-only .user99 .full,
#wdb_user-right-only .user99 .full,
#wdb_user-left-right .user33 .first,
#wdb_user-left-right .user33 .second,
#wdb_user-left-right .user33 .third,
#wdb_user-left-right .user49 .first,
#wdb_user-left-right .user49 .second,
#wdb_user-left-right .user99 .full,
#wdb_user-wide .user33 .first,
#wdb_user-wide .user33 .second,
#wdb_user-wide .user33 .third,
#wdb_user-wide .user49 .first,
#wdb_user-wide .user49 .second,
#wdb_user-wide .user99 .full {
	overflow: hidden;
}